<div id="image-upload-section">
  <div *ngIf="(imageDataListObservable | async)?.length > 0" 
    id="image-card-container" 
    fxLayout="row wrap" 
    fxLayoutGap="20px" 
    fxLayoutAlign="start start">
    <mat-card *ngFor="let imageData of uploadedImageDataList" 
      fxFlex="300px" 
      class="image-card">
      <!-- Uploaded Image Actions -->
      <div class="card-action-container">
        <button mat-icon-button 
          [matMenuTriggerFor]="imageCardMenu" 
          (click)="$event.preventDefault()" 
          class="card-action-button">
          <mat-icon class="card-action-icon">more_horiz</mat-icon>
        </button>
        <mat-menu #imageCardMenu="matMenu" class="card-action-menu">
          <!-- <button mat-menu-item> -->
          <!--   <span>Make feature photo</span> -->
          <!-- </button> -->
          <!-- <button mat-menu-item disabled> -->
          <!--   <span>Make cover photo</span> -->
          <!-- </button> -->
          <!-- <button mat-menu-item disabled> -->
          <!--   <span>Crop</span> -->
          <!-- </button> -->
          <button mat-menu-item 
            class="card-action-menu-item"
            (click)="deleteImageFile('listings', spaceID, 'spaceImages', imageData)">
            <span>Remove photo</span>
          </button>
          <button mat-menu-item 
            class="card-action-menu-item"
            (click)="toggleImageTitleInput(imageData.imageTitle)">
            <span>Change image title</span>
          </button>
        </mat-menu>
      </div>
      <!-- <img mat-card-image [src]="imageURL" class="uploaded-image"> -->
      <img [src]="imageData.imageURL" class="uploaded-image">

      <mat-card-title class="image-title">
        <div *ngIf="!(isShowImageTitleInput | async)">
          {{ imageData.imageTitle }}
        </div>
        <div *ngIf="(isShowImageTitleInput | async) && ((imageTitleToEdit | async) == imageData.imageTitle)"
          fxLayout="row" fxLayoutAlign="space-between center"
          class="edit-title-container">
          <mat-form-field class="full-width" fxFlex="85%">
              <input matInput placeholder="Title" value="" 
                class="edit-title-input"
                matTextareaAutosize
                [(ngModel)]="imageTitle" 
                [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <button [disabled]="(imageTitle.length < 5)" 
            fxFlex="10%"
            mat-icon-button
            class="sn-button-small"
            color="primary" (click)="updateImageData('listings', spaceID, 'spaceImages', imageData, imageTitle)">
            <mat-icon>done</mat-icon>
          </button>
        </div>
      </mat-card-title>
    </mat-card>  
  </div>

  <div id="image-input-container" *ngIf="(uploadStatus | async) == 'complete' || (uploadStatus | async) == null">
    <input class="inputfile" type="file" image-upload name="file" id="file"
        (resizedImage)="getResizedImage($event)"
        [resizeOptions]="desktopSize">
    <label for="file">Upload more photo's</label>
  </div>

  <!-- <div id="image-input-container"> -->
  <!--   <input class="inputfile" type='file' -->
  <!--     name="file" id="file" -->
  <!--     (change)="startUpload($event.target.files)"/> -->
  <!--   <label for="file">Upload more photo's</label> -->
  <!-- </div> -->

  <div *ngIf="(uploadStatus | async) == 'loading'" class="image-loading">
    <!-- <gen-loading></gen-loading> -->
    <gen-loading-overlay></gen-loading-overlay>
    <span>Loading...</span>
  </div>

  <div *ngIf="(uploadStatus | async) == 'engaged'">
    <mat-card class="mat-elevation-z0">
        <mat-card-content>

          <!-- Image to upload -->
          <div id="upload-image-container">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
              <div fxFlex="100px">
                <img [src]="toUploadImage?.resized.dataURL" width="100" [hidden]="!toUploadImage">
              </div>
              <mat-form-field class="full-width" fxFlex="200px">
                  <input matInput placeholder="Title" value="" 
                    matTextareaAutosize
                    [(ngModel)]="imageTitle" 
                    [ngModelOptions]="{standalone: true}">
              </mat-form-field>
              <!-- <pre>{{imageTitle}}</pre> -->
              <div fxFlex="50px">
                <button [disabled]="!toUploadImage || (imageTitle.length < 5)" mat-raised-button
                   class="sn-button"
                  color="primary" (click)="uploadImageFile('listings', spaceID, 'spaceImages', toUploadImage, imageTitle)">Upload
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
    </mat-card>
  </div>

</div>

