
<!-- Pricing -->
<form [formGroup]="priceForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="price">
    <div class="title">
      <h2>Space Price</h2>
    </div>
    <div class="content">
      <mat-form-field class="unit">
        <mat-select placeholder="Pricing System" name="priceUnit" formControlName="priceUnit" required (change)="loadComponent()">
          <mat-option *ngFor="let unit of priceUnits" [value]="unit.value" >
            {{ unit.display }} 
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="children">
        <ng-template d-sn-price></ng-template>
      </div>
    </div>
    <div class="actions">
      <button mat-raised-button type="submit" class="next-button" 
              [disabled]="priceForm.invalid"> 
              Next 
      </button>
      <button mat-button type="button" class="back-button" (click)="back()"> 
            Back 
      </button>
    </div>
  </div>
</form>
