// Black and White Colors
$colot__white: #ffffff;
$colot__athens_gray: #f2f3f5;
$colot__mischka: #dedfe5;
$colot__oslo_gray: #8c9199;
$colot__black: #000000;


// Brand Colors
$color__eucalyptus: #29a554;
$color__pastel_green: #6cde93;
$color__gable_green: #173839;
$color__cutty_sark: #4d6364;


// Warning Colors
$color__error: #ff0000;