* {

	--gap: 30px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;

	&:focus {
		outline: none !important;
	}

}

body, 
.mat-drawer-container {
	background-color: $color__white;
	color: $color__gable_green;
	text-rendering: optimizeLegibility;
}

.grid {
	display: grid;
	grid-template-columns: 1fr repeat(12, minmax(auto, 75px)) 1fr;
	grid-column-gap: 30px;

	@include respond-to('tablet') {
		grid-template-columns: 1fr repeat(12, minmax(auto, 75px)) 1fr;
		grid-column-gap: 20px;
	}

	@include respond-to('phone-wide') {
		grid-template-columns: 20px repeat(32, minmax(10px, auto)) 20px;
		grid-column-gap: 0;
	}

	.wrapper {
		
		display: grid !important;
		grid-column: 2 / span 12;

		@include respond-to('tablet') {
			grid-column: 2 / span 14;
		}

		@include respond-to('phone-wide') {
			grid-column: 2 / span 34;
		}

	}

}

.hidden-phone {
	@include respond-to('phone') {
		display: none !important;
	}
}

.hidden-phone-wide {
	@include respond-to('phone-wide') {
		display: none !important;
	}
}

.hidden-phablet {
	@include respond-to('phablet') {
		display: none !important;
	}
}

.hidden-tablet-small {
	@include respond-to('tablet-small') {
		display: none !important;
	}
}

.hidden-tablet {
	@include respond-to('tablet') {
		display: none !important;
	}
}

.hidden-tablet-wide {
	@include respond-to('tablet-wide') {
		display: none !important;
	}
}

.hidden-desktop {
	@include respond-to('desktop') {
		display: none !important;
	}
}

.hidden-desktop-wide {
	@include respond-to('desktop-wide') {
		display: none !important;
	}
}

.hidden {
	display: none !important;
}

.show-phone {
	@include respond-to('phone') {
		display: grid !important;
	}
}

.show-phone-wide {
	@include respond-to('phone-wide') {
		display: grid !important;
	}
}

.show-phablet {
	@include respond-to('phablet') {
		display: grid !important;
	}
}

.show-tablet-small {
	@include respond-to('tablet-small') {
		display: grid !important;
	}
}

.show-tablet {
	@include respond-to('tablet') {
		display: grid !important;
	}
}

.show-tablet-wide {
	@include respond-to('tablet-wide') {
		display: grid !important;
	}
}

.show-desktop {
	@include respond-to('desktop') {
		display: grid !important;
	}
}

.show-desktop-wide {
	@include respond-to('desktop-wide') {
		display: grid !important;
	}
}

.show {
	display: grid !important;
}



a {
	color: $color__eucalyptus;
	text-decoration: none;

	&:hover {
		color: $color__pastel_green;
	}

}

.error {
	color: red;
}

.success {
	color: $color__eucalyptus;
}

.view-all {
	font-size: medium;
}