:host {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.space-list {
  --hover: #6cde93;
  --gridSpace: 40px;
  --numColumns: 3;

  display: grid;
  grid-template-columns: repeat(var(--numColumns), calc(100% / var(--numColumns) - var(--gridSpace)));
  grid-gap: var(--gridSpace);
  margin-top: 20px;
}
