<!-- TODO: Add links  -->
<div class="grid">
    <div class="wrapper">
    <h1><a routerLink=""><mat-icon style="font-size: 40px; margin-right: 40px; cursor: pointer">keyboard_arrow_left</mat-icon></a>Dictionary</h1>
    <div style="margin-top: 40px">
      <ol>
        <li>
          
          <strong>ABN</strong> - your applicable Australian Business Number.<br><br>
          
          <strong>ACL</strong> - the Australian Consumer Law as set out in the Competition and Consumer Act 2010 (Cth).<br><br>
          
          <strong>Agreement Date</strong> - the date a User books a reservation through the Service.<br><br>
          
          <strong>Agreement Time</strong> - the time at which any Space Licence Agreement is entered into between a Host and a Guest.<br><br>
          
          <strong>Amount Due</strong> - the difference between the Fees Collected and the Service Charges payable by a Host.<br><br>
          
          <strong>Building</strong> - the building in which the Space is located as described by the Host in the Profile for the Space.<br><br>
          
          <strong>Cancellation Terms</strong> - the cancellation and refunds terms at Cancellation and Refund Policy.<br><br>
          
          <strong>Common Areas</strong> - any portion of the available Building designated for the common use of tenants, Invitees and others.<br><br>
          
          <strong>Confidential Information</strong> - any non-public information that derives independent value from not being generally known by the public or any non-public information received by a party that is designated as proprietary or confidential, or that the recipient party knew or reasonably should have known was proprietary or confidential.<br><br>
          
          <strong>Copyright Act</strong> - the Copyright Act 1968 (Cth) or any other applicable legislation throughout the world.<br><br>
          
          <strong>Coupons</strong> - discounts off of Fees for Hourly Reservations that are applied at the time a Guest makes a Reservation under the Guest Billing Option.<br><br>
          
          <strong>Daily Reservation</strong> - a reservation under the Daily Use Terms. <br><br>
          
          <strong>Daily Use Terms</strong> - the terms in the Space License Agreement for daily use of the Space.<br><br>
          
          <strong>Deposit</strong>- if any is required by a Host, an amount equal to the Monthly Charge for one month unless otherwise specified in the Space Rules or displayed in the Profile for Space by the Host as of the Agreement Time.<br><br>
          
          <strong>End Date</strong> - the end date of a Reservation.<br><br>
          
          <strong>Fees Collected</strong> - any Fees, Taxes or any other moneys in connection with the use of a Space collected by Spacenow Services on behalf of a Host.<br><br>
          
          <strong>Fees</strong> - the fees set by the Host for the Space including the Hourly Charge or Monthly Charge,as applicable, as stated in the Profile for Space as the Agreement Time.<br><br>
          
          <strong>GST Act</strong> - a new tax system (Goods and Services Tax) Act 1999 (Cth).<br><br>
          
          <strong>GST Law</strong> - has the same meaning as in the GST Act.<br><br>
          
          <strong>GST</strong> - the goods and services tax or similar value added tax levied or imposed in Australia under the GST Law or otherwise on a supply of goods or services.<br><br>
          
          <strong>Guest</strong> - a User that reserves or otherwise schedules time in a Space.<br><br>
          
          <strong>Guest Billing Option</strong> - the billing option chosen by a Guest at the time of making a Reservation.<br><br>
          
          <strong>Guest Terms</strong> - the terms located at Guest Terms .<br><br>
          
          <strong>Host</strong> - a User that make a Space available by booking or otherwise and includes where applicable, whether stated or not, any landlord or mortgagee of the Host.<br><br>
          
          <strong>Host Billing Options</strong> - the billing option chosen by a Host.<br><br>
          
          <strong>Host Coupons</strong> - Coupons issued by Spacenow at the request of the Host.<br><br>
          
          <strong>Host Originated Guest</strong> - a Guest that first became a Guest as a result of invitation by the Host.<br><br>
          
          <strong>Host Terms</strong> - the terms located at Host Terms being the terms for either hourly Reservations or monthly Reservations and includes any and all additional terms, conditions and policies provided by the Host relating to the use of the Space, including the Space Rules.<br><br>
          
          <strong>Host’s Property</strong> - any furnishings, equipment or other personal property located in, on or around the Space, Common Property, or Shared Facilities that is not owned by the Guest or the Guest’s Invitees.<br><br>
          
          <strong>Hourly Reservation</strong> - a reservation under the Hourly Use Terms.<br><br>
          
          <strong>Hourly Use Terms</strong> - the terms in the Space License Agreement for hourly use of the Space.<br><br>
          
          <strong>Invitees</strong> - your employees, guests, agents, invitees, contractors, and sub-contractors.<br><br>
          
          <strong>Maximum Occupancy</strong> - the maximum number of occupants set by the Host in the profile as at the Agreement Time.<br><br>
          
          <strong>Minimum Term</strong> - the minimum term as set out in the Profile of the Space and incorporated in the Space License Agreement.<br><br>
          
          <strong>Mobile Software</strong> - any Spacenow mobile device software applications.<br><br>
          
          <strong>Monthly Charge</strong> - the monthly charge for the Space as set by the Host.<br><br>
          
          <strong>Monthly Reservation</strong> - a monthly reservation under the Monthly Use Terms.<br><br>
          
          <strong>Monthly Use Terms</strong> - the terms in the Space License Agreement for monthly use of the Space.<br><br>
          
          <strong>Payment Terms</strong> - the payment terms as set out in the Space Licence Agreement, Host Terms and any other agreement entered into between Spacenow and a User or a Host and a Guest.<br><br>
          
          <strong>Pricing Policy</strong> - the pricing policy set out in the Host Terms.<br><br>
          
          <strong>Privacy Policy</strong> - the privacy policy at Privacy Policy.<br><br>
          
          <strong>Professional Account</strong> - the account set up with Spacenow by a Professional.<br><br>
          
          <strong>Professional</strong> - a User who registers for a Professional Account.<br><br>
          
          <strong>Professional Terms</strong> - the terms located at Professional Terms<br><br>
          
          <strong>Profile Content</strong> - the content of any Profile. Profile for the Space - the information provided by the Host in respect of the Space.<br><br>
          
          <strong>Profile</strong> - the information displayed on the designated area of the Site or otherwise throughout the Service regarding you or your corporate entity or organisation and if a “Host” includes information regarding the Space<br><br>
          
          <strong>Public Liability Insurance</strong> - the public liability insurance to be taken out by each Host and guest in the amount of AUD20 million.<br><br>
          
          <strong>Referral Fee</strong> - the fee paid to a Professional for a referrer pursuant to the Professional Terms.<br><br>
          
          <strong>Registration Data</strong> - the date provided by a User in connection with registering for, using or participating in the Service as a User.<br><br>
          
          <strong>Renewals</strong> - a renewal of a Term.<br><br>
          
          <strong>Reservation</strong> - the Reservation specified by the Guest and authorised by the Host.<br><br>
          
          <strong>Service Charges</strong> - the are the charges and other terms set out in the Pricing Policy.<br><br>
          
          <strong>Service</strong> - the material set out in the Site and any related services made available by us.<br><br>
          
          <strong>Set-up Fee</strong> - in any, the fee as set by the Host in the Profile for Space as at the Agreement Date.<br><br>
          
          <strong>Shared Facilities</strong> - any shared conference rooms, office equipment, kitchenettes, bathrooms or other shared areas in a Building which can be used on a first-come, first-served basis which are and to any extent described in the Space Rules.<br><br>
          
          <strong>Site</strong> - the website under the domain name Space - a work space as listed on the Site.<br><br>
          
          <strong>Space Licence Agreement</strong> - means the licence agreement for the Term as appropriate to the arrangements between the Host and the Guest.<br><br>
          
          <strong>Spacenow Coupons</strong> - Coupons issued by Spacenow.<br><br>
          
          <strong>Spacenow Marketing Link</strong> - the URL created by Spacenow for the Space and posted by the Host in the Host’s marketing materials including the Host’s website<br><br>
          
          <strong>Spacenow Originated Guest</strong> - any Guest other than a Host Originated Guest<br><br>
          
          <strong>Spacenow Services</strong> - are the services supplied by Spacenow including the management of any payments in respect of the Space or otherwise.<br><br>
          
          <strong>Spacenow</strong> - Space Shared Australia Pty Limited ABN 28 607 793 114, also described as “us” or “we”.<br><br>
          
          <strong>Space Rules</strong> - all additional terms, conditions and policies provided by the Host relating to the use of the Space as provided to the Guest by the Host or as set out in the Space Licence Agreement including but not limited to building security procedures, IT access and use procedures, Maximum Occupancy and other terms or procedures.<br><br>
          
          <strong>Start Date</strong> - the start date of the Reservation.<br><br>
          
          <strong>Taxes</strong> - the taxes advised by the Host and collected by Spacenow on the Host’s behalf and includes GST.<br><br>
          
          <strong>Terms of Use</strong> - the Spacenow Terms and Conditions of Use which govern the use of the Site and include as applicable the relevant Space License Agreement.<br><br>
          
          <strong>Term</strong> - the term of the reservation specified by the Guest and authorised by the Host for a Reservation being the period of time beginning on the Start Date and ending on the later of the End Date, if specified, or the Minimum Term after the Start Date of the Reservation.<br><br>
          
          <strong>Third Party Sites</strong> - other websites as well as articles, photographs, text, graphics, pictures, designs, sound, video, information and other content or items belonging to or originating from any third party.<br><br>
          
          <strong>Unauthorised Processes</strong> - to use manual or automated software, devices, scripts, robots, backdoors or other means or processes to access, “scrape”, “crawl” or “spider” any web pages or other services contained in the Service. Any unsolicited or unauthorised advertising, solicitations, promotionals, materials, “junk mail”, “spam”, “chain letters”, “pyramid schemes”, or any other prohibited form of solicitation use any viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, backdoors, packet or IP spoofing, forge routing or electronic mail address information or similar methods of technology.<br><br>
          
          <strong>URL</strong> - uniform resource locator.<br><br>
          
          <strong>User Account</strong> - the account set up by a User with Spacenow.<br><br>
          
          <strong>User Content</strong> - the content posted on the Site by a User including any details contained in a User Account.<br><br>
          
          <strong>User</strong> - you, whether you are browsing the Site or use the Site as a Guest, Host or Professionals. A “User” may register for both a User Account and a Professional Account.<br><br>
          
          <strong>Weekly Reservation</strong> - a reservation under the Weekly Use Terms.<br><br>
          
          <strong>Weekly Use Terms</strong> - the terms in the Space License Agreement for the Weekly use of the Space.<br><br>
                
                
        </li>
      </ol>
    </div>
  </div>
</div>
