<!-- TODO: Add links  -->
<div class="grid">
    <div class="wrapper">
    <h1><a routerLink=""><mat-icon style="font-size: 40px; margin-right: 40px; cursor: pointer">keyboard_arrow_left</mat-icon></a>Privacy Policy</h1>
    <div style="margin-top: 40px">
      <ol>
        <li>
          
                Shared Space Australia Pty Limited ABN 28 607 793 144 (“Spacenow”, “we”, “us” or “our” depending on context) is committed to protecting your privacy.<br><br>
                
                
                The information we collect. The type of information which we collect about you will depend on how you use the Services and our Site.<br><br>
                
                
                If you visit the Site to browse or download information, our web server will record the date and time of your visit to our Site, the pages viewed and the information downloaded. We will only use this information for statistical and for website development purposes or Mobile Software. This information is generally not linked to the identity of visitors, except unless any area of the Site is accessed via links in an email we have sent.<br><br>
                
                
                Some other information that may be collected are:<br><br>
                
                a) information collected when you register or update your Profile which may include your name and online address as well as any other information requested;<br>
                b) information collected if you subscribe to any of our Services;<br>
                c) the content of any electronic forms you may submit via the Site requesting us to provide Services or information;<br>
                d) any messages or comments you submit to us via the Site e.g. by email or completing the “Contact us” form<br>
                
                Please note that we may not be able to provide the full range of Services or respond to your comments or requests through the Site if you do not provide the information outlined above.<br><br>
                
                
                We do not sell or provide your information to any third party other than our staff or consultants we may engage to assist provide our services to you. We only use your information:<br><br>
                
                a) for the purposes for which it was collected or supplied unless you have consented to the use or disclosure of the information to a third party;<br>
                b) to maintain our relationship with you;<br>
                c) for purposes relating to our research, planning, service development, security and risk management; or<br>
                d) to the extent that we are required or authorised by law to do so<br>
                
                If you consent, we may email you about an event or new service that we think might be of interest to you.<br><br>
                
                
                If at any point you no longer wish to receive such emails, you just have to reply and type “remove” in the subject line of your email.<br><br>
                
                
                Your access to your information. You are able to access and update your personal information at any time. If you wish to do so, please contact us.<br><br>
                
                
                Please also contact us whenever there is a change to your personal information or as soon as you are aware that the details we have about you are not accurate, complete or up-to- date. We will then take all reasonable steps to correct the information so that it is accurate, complete and up-to- date.<br><br>
                
                
                If you have a complaint regarding the way in which your personal information is being handled by us, please contact us in the first instance. If we are unable to reach a satisfactory solution through negotiation, you can request an independent person to investigate the complaint such as the Privacy Commissioner.<br><br>
                
                
                Security. Unfortunately whilst we maintain strict standards and procedures to protect any information you transmit to us over the internet this cannot be guaranteed. Therefore you transmit this information at your own risk.<br><br>
                
                
                Some sections of this website may protect your personal information by the use of a password. For your own protection we require you to keep this confidential and to change your password regularly.<br><br>
                
                
                Links to other websites. Our website contains links to other websites. This privacy statement has no application to these other websites. We are not responsible for the privacy practices or<br><br>
                
                the content of these other websites.<br><br>
                
                
                If you have any questions or require feedback about this statement, please contact us.<br><br>
                
                Spacenow<br>
                
                Suite 2, 28 Bayswater Road,<br>
                
                POTTS POINT NSW 2011<br>
                
                info@spacenow.com.au<br>
                
                
        </li>
      </ol>
    </div>
  </div>
</div>
