@import
    '~sass/abstracts/mixins';

.gen-slider {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;

  > .gen-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin: 8px;
    padding: 8px;
    z-index: 1;

    height: fit-content;
    align-self: center;

    &.gen-prev {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &.gen-next {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    &:hover {
      > i {
        opacity: 1;
        transition: opacity .5s;
      }
    }

    > i {
      opacity: 0;
      background-color: #ddd;
      width: 50px;
      height: 50px;
      padding: 14px;
      border-radius: 50%;
    }

    @include respond-to('phone-wide') {
      margin: 0;
    }

  }

  .gen-page-container {

    grid-column: 1 / 4;
    grid-row: 1 / 2;
    flex-grow: 1;
    overflow: hidden;
  }

  .gen-slider-pages {
    display: grid;
    //padding: 20px;
    grid-template-columns: repeat(var(--totalItems), auto);
    grid-gap: 20px;
    transition: all 1s ease;
  }

  @include respond-to('phone-wide') {
    .gen-slider-pages {
      padding-left: 28px;
    }
  }

}
