<div fxLayout="column" fxLayoutAlign="center center" fxFill>

  <form #form="ngForm" (ngSubmit)="onForgotSubmit()" [formGroup]="forgotForm" fxLayout="column" class="forgotForm">
      <h1>Forgot Password</h1>
      <h3>Recover your password</h3>
      <mat-form-field>
        <input matInput placeholder="E-Mail" type="email" name="email" formControlName="email" required>
      </mat-form-field>
    
      <button mat-raised-button [disabled]="!forgotForm.valid" class="primary">recover password</button>
        
      <a class="forgot-password" [routerLink]="['../', { outlets: { sidenav: ['sign-in'] } }]">Back to login</a>

  </form>

</div>