@import
  '~sass/abstracts/variables',
  '~sass/abstracts/mixins',
  '~sass/abstracts/icons';

form {
  --gridGap: 20px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-gap: var(--gridGap) 0;
}

.icon-field {
  display: grid;
  grid-template-columns: 10% 85%;
  align-items: center;
  justify-content: space-between;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}

.mat-expansion-panel-header {
  padding: 0 8px 0 0 !important;
}

.title-av {
  font-size: 17px;

  > i {
    display: flex;
    align-items: center;

    &:before {
      margin-right: 8px;
    }
  }
}

.mat-expansion-panel-body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0 12px;
}

.av-content {
  display: contents;
  font-size: 15px;
}
