@import
  '~sass/abstracts/variables',
  '~sass/abstracts/mixins',
  '~sass/abstracts/icons';

form {
  --gridGap: 20px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-gap: var(--gridGap) 0;
}

.icon-field {
  display: grid;
  grid-template-columns: 10% 85%;
  align-items: center;
}
