/**
*
*   References for color names
*   hhtp://
*
*/


$font-family: 'Montserrat';
$font-path: './assets/fonts/Montserrat/';

// Black and White Colors
$color__white: #ffffff;
$color__athens_gray: #f2f3f5;
$color__mischka: #dedfe5;
$color__oslo_gray: #8c9199;
$color__black: #000000;


// Brand Colors
$color__eucalyptus: #29a554;
$color__pastel_green: #6cde93;
$color__gable_green: #173839;
$color__cutty_sark: #4d6364;


// Warning Colors
$color__error: #ff0000;

$sidebar__max-width: 40%;