
<form [formGroup]="exceptionForm.controls.availability" (ngSubmit)="onSubmit()">

  <div class="exception">
    <div class="title">
      <span style="font-size: 60px;line-height: 60px;">Dates Closed</span>
    </div>
    <div class="content" fxFlexLayout="column">
      <div fxFlexLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex="20%">
          <input matInput readonly [matDatepicker]="picker" placeholder="From" formControlName="fromDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> 
        </mat-form-field>
        <div fxFlex="5%" fxLayoutAlign="center center"><span>to</span></div>
        <mat-form-field fxFlex="20%">
          <input matInput readonly [matDatepicker]="pickerTo" placeholder="To" formControlName="toDate" [min]="exceptionForm.value.availability.fromDate" >
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="30%">
          <input matInput formControlName="note" placeholder="Note" maxlength="30">
        </mat-form-field>
        <div fxFlex="10%" style="padding: 22px 0;">
          <button mat-button 
                  (click)="addExceptionDate()" 
                  type="button"
                  [disabled]="exceptionForm.controls.availability.invalid">
            Add
          </button>
        </div>
      </div>
    
      <!-- Show list of added exceptions -->
      <div *ngFor="let day of exceptionDays" fxFlexLayout="row" fxLayoutGap="20px" style="margin-bottom: 10px">

          <span fxFlex="20%" class="dates-background">{{day.fromDate | date: 'd MMMM, yyyy'}} </span>

          <div fxFlex="5%" fxLayoutAlign="center center"><span>to</span></div>

          <span fxFlex="20%" class="dates-background"> {{day.toDate | date: 'd MMMM, yyyy'}}</span>
        
          <div fxFlex="30%"><span style="width: 100%">{{ day.note }}</span></div>

          <button fxFlex="10%" class="add-button" mat-icon-button (click)="deleteExceptionDay(day)" type="button" style="margin-left: 20%;">
            <mat-icon class="delete-button">delete_forever</mat-icon>
          </button>

      </div> 

    </div>
    <div class="actions">
      <button mat-raised-button type="submit" class="next-button"> 
          Continue 
      </button>
      <button mat-button type="button" class="back-button" (click)="back()"> 
            Back 
      </button>
    </div>
  </div>
  
</form>
