<div class="dropzone" 
     dropZone
     (hovered)="toggleHover($event)"
     (dropped)="startUpload($event)"
     [class.hovering]="isHovering"
     >

  <button mat-mini-fab class="primary" type="button" onclick="document.getElementById('fileToUpload').click()" *ngIf="filesCount === totalFiles" style="margin-top: 100%;">
    <mat-icon aria-label="Upload file icon">file_upload</mat-icon>
  </button>
  <input id="fileToUpload" type="file" style="display:none;" (change)="startUpload($event.target.files)" multiple>

      <!-- <input class="mat-raised-button" type="file" (change)="startUpload($event.target.files)" multiple> -->

      <!-- <span class="file-cta">
        <span class="file-icon">
            <mat-icon aria-label="Upload file icon">file_upload</mat-icon>
        </span>
      </span> -->


  <div *ngIf="(percentage | async) as pct">
    <mat-progress-spinner class="progress is-info" [value]="pct" max="100" *ngIf="filesCount !== totalFiles">        
    </mat-progress-spinner>
  </div>

</div>

<h5 *ngIf="(percentage | async) as pct">
  {{ pct | number }}% <br>
  {{filesCount}} | {{totalFiles}}
</h5>

<h4>Drag and drop to upload</h4>

<!-- 
<div *ngIf="snapshot | async as snap">
  {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }} 

  <div *ngIf="downloadURL | async as url">
    <h3>Results!</h3>
    <img [src]="url"><br>
    <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
  </div> 

  <button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
  <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
  <button (click)="task.resume()" class="button is-info"   [disabled]="!(snap?.state === 'paused')">Resume</button>

</div> -->