
<form [formGroup]="specificationForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="specification">

    <div class="title">
      <span style="font-size: 60px">Space specifications</span>
    </div>
    <div class="content">
        <div formGroupName="specifications">
          <div *ngFor="let spec of categorySpecs">
            <mat-form-field class="items">
              <input matInput type="number" min="0" placeholder="{{spec.name}}" formControlName="{{spec.slug}}" [required]="spec.slug === 'capacity' || spec.slug === 'stalls' || spec.slug === 'desks'">
            </mat-form-field>
          </div>
        </div>
    </div>

    <div class="actions">
      <button mat-raised-button type="submit" class="next-button" 
              [disabled]="specificationForm.invalid"> 
              Continue 
      </button>
      <button mat-button type="button" class="back-button" (click)="back()"> 
            Back 
      </button>
    </div>
  </div>
  
</form>
