// GRID AREAS 
.title {
  margin: 40px 0;
  grid-area: title;
}

.content {
  grid-area: content;
}

.actions {
  margin: 80px 0;
  grid-area: actions;
}

.next-button {
  grid-area: next-button;
}

.back-button {
  grid-area: back-button;
}

/* GRID CSS TITLE */
.exception {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
    ". title ."
    ". content ."
    ". actions .";
}

.exception .actions {
  display: grid;
  grid-template-columns: 2fr 4fr 6fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "back-button next-button .";
}

@media screen and (max-width:1024px) {

  .exception {
    grid-template-columns: 1fr 10fr 1fr;
  }

}

@media screen and (max-width:599px) {

  .exception {
    grid-template-columns: 0fr 12fr 0fr;
  }

  .exception .actions {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "next-button"
      "back-button";
  }

  .next-button {
    grid-area: next-button;
  }
  
  .back-button {
    grid-area: back-button;
  }

  .dates-background {
    margin-bottom: 30px !important;
  }

  #to-span {
    margin-bottom: 30px !important;
  }

  #box-exception {
    border: 1px solid #c1c1c1;
    padding: 10px;
    border-radius: 5px;
  }

}
/* END GRID CSS TITLE */

.dates-background {
  background-color: rgba(128, 128, 128, 0.11);
  border-radius: 3px;
  padding: 5px;
}

.delete-button {
  color: #6cde93;
}

.disable-add {
  pointer-events: none;
  color: grey;
}