.si-icon {
    height: 50px;
    width: 50px;
}

.si-right {
    @include sn-icon(9, 4, 50);
}

.si-left {
    @include sn-icon(10, 4, 50);
}

.si-play {
    @include sn-icon(8, 4, 200);
}

#sections {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 300px;

    @include respond-to('phone-wide') {
        grid-row-gap: 150px;
    }

    > section:not(:first-child) > h2 {
        padding: var(--gap);
        align-self: start;
        position: relative;

        &.left{
            justify-self: start;
        }

        &.right{
            justify-self: end;
            text-align: right;
        }

    }

    #section-one {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: end;
        align-items: center;

        @include respond-to('phone-wide') {
            grid-template-columns: 1fr;
        }

        > h2 {
            @include respond-to('phone-wide') {
                display: none;
            }
        }

        margin-top: -210px;

        > :last-child {
            grid-column: 2 / span 2;

            @include respond-to('phone-wide') {
                grid-template-columns: 1fr;
            }

            align-self: stretch;
        }

    }

    #section-two {

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include respond-to('phone-wide') {
            grid-template-columns: 1fr;
        }

        > :first-child {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }

        > :last-child {
            grid-column: 1 / span 2 ;
            grid-row: 1 / 2;
            justify-self: stretch;

            @include respond-to('phone-wide') {
                grid-column: 1 /2 ;
                grid-row: 2 / 3;
            }
        }

    }

    #section-three {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(600px, auto);

        > div {
            grid-column: 1 /2;
            grid-row: 1 / 2;

            img {
                transform: translateX();
            }

        }

        .video-description {
            display: grid;
            justify-items: center;
            align-self: end;
        }
    }

    #section-four {

        text-align: center;

        > :first-child {
            display: grid;
            grid-column: 2 / span 12;
            grid-row-gap: 100px;
        }

        .perc {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 100px;

            .mat-card {
                box-shadow: none;

                .mat-card-content {
                    display: grid;
                    justify-items: center;
                    grid-row-gap: 20px;

                }

            }

        }

    }

    #section-five {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        text-align: center;
    }

    #section-six {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: end;

        > :first-child {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        > :last-child {
            grid-column: 2 / span 2 ;
            grid-row: 1 / 2;
            justify-self: stretch;
        }

    }

    #section-seven {

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        > :first-child {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }

        > :last-child {
            grid-column: 1 / span 2 ;
            grid-row: 1 / 2;
            justify-self: stretch;
        }

    }

}
