<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Invoice</title>
    <style>
      body {
        margin: 0;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      }

      h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        margin-bottom: 0;
      }

      h1, h2, h3 {
        text-transform: uppercase;
      }

      h1 { font-size: 25px; }
      h2 { font-size: 20px; }
      h3 { font-size: 17px; }
      h4 { font-size: 15px; }
      h5 { font-size: 13px; }
      h6 { font-size: 11px; }

      table {
        font-size: 10px;
      }

      td {
        background-color: white;
      }

      .container > table > tbody > tr > td:not(.emphasis) {
        padding: 15px;
      }

      table table td:first-child {
        font-weight: 600;
      }

      .right {
        text-align: right;
      }

      .full-width {
        width: 100%;
      }

      .emphasis {
        background-color: #6cde93;
      }

      td.emphasis {
        color: #152f30;
        line-height: 30px;
        padding: 5px 15px;
      }

      span.emphasis {
        padding: 5px;
        color: white;
      }

      tr.accent-divider td.include {
        border-bottom: 5px solid #6cde93;
      }

      ul {
        list-style-type: none;
        padding-left: 0px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <table class="full-width" cellspacing="0" cellpadding="0">
        <tbody>
          <tr class="accent-divider">
            <td class="include" colspan="2" width="50%">
              <img src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Femail-templates%2Fspacenow-logo.svg?alt=media&token=272e60a0-b450-4007-b67b-d25b6111e6c9" height="35px">
            </td>
            <td class="right include" colspan="2" width="50%">
              <span>spacenow.com</span>
              <br />
              <span>(+61) 1300 021 087</span>
              <br />
              <span>admin@spacenow.com.au</span>
              <br />
              <span>ABN: 81 602 090 997</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" width="50%" valign="baseline">
              <h3>Guest Details</h3>
              <table>
                <tbody>
                  <tr>
                    <td>Name:</td>
                    <td>{{ userData.displayName }}</td>
                  </tr>
                  <tr>
                    <td>Phone:</td>
                    <td>{{ userData.phoneNumber }}</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td>{{ userData.email }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td class="right" colspan="2" width="50%" valign="baseline">
              <h1>Invoice</h1>
              <span>No: {{ booking.id }}</span>
            </td>
          </tr>
          <tr>
            <td class="emphasis" colspan="2" width="50%">
              <h3>Booking Details</h3>
            </td>
            <td colspan="2" width="50%"></td>
          </tr>
          <tr class="accent-divider">
            <td class="include" colspan="2" width="50%" valign="baseline">
              <h4>{{ listing.title }}</h4>
              <span>{{ list.address.full_name }}</span>
              <!-- <br />
              <span>NSW 2015, Australia</span> -->
              <table style="width: 75%;">
                <tbody>
                  <tr>
                    <td>Monday</td>
                    <td class="right">
                      {% if listing.availability.openingTime.mon.isOpen %}
                        {{ listing.availability.openingTime.mon.startHour }}:00 - {{ listing.availability.openingTime.mon.closeHour }}:00
                      {% else %}
                        Closed
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td>Tuesday</td>
                    <td class="right">
                      {% if listing.availability.openingTime.tue.isOpen %}
                        {{ listing.availability.openingTime.tue.startHour }}:00 - {{ listing.availability.openingTime.tue.closeHour }}:00
                      {% else %}
                        Closed
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td>Wednesday</td>
                    <td class="right">
                      {% if listing.availability.openingTime.wed.isOpen %}
                        {{ listing.availability.openingTime.wed.startHour }}:00 - {{ listing.availability.openingTime.wed.closeHour }}:00
                      {% else %}
                        Closed
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td>Thursday</td>
                    <td class="right">
                      {% if listing.availability.openingTime.thu.isOpen %}
                        {{ listing.availability.openingTime.thu.startHour }}:00 - {{ listing.availability.openingTime.thu.closeHour }}:00
                      {% else %}
                        Closed
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td>Friday</td>
                    <td class="right">
                      {% if listing.availability.openingTime.fri.isOpen %}
                        {{ listing.availability.openingTime.fri.startHour }}:00 - {{ listing.availability.openingTime.fri.closeHour }}:00
                      {% else %}
                        Closed
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td>Saturday</td>
                    <td class="right">
                      {% if listing.availability.openingTime.sat.isOpen %}
                        {{ listing.availability.openingTime.sat.startHour }}:00 - {{ listing.availability.openingTime.sat.closeHour }}:00
                      {% else %}
                        Closed
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td>Sunday</td>
                    <td class="right">
                      {% if listing.availability.openingTime.sun.isOpen %}
                        {{ listing.availability.openingTime.sun.startHour }}:00 - {{ listing.availability.openingTime.sun.closeHour }}:00
                      {% else %}
                        Closed
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td colspan="1" width="25%" valign="baseline">
              <span><strong>{{ booking.numGuests }}</strong> Guests</span>
              <br />
              <ul>
                {% for item in dates %}
                  <li><strong>{{ item.fromHour }}</strong> {{ item.date }}</li>
                {% endfor %}
              </ul>
            </td>
            <td class="right" colspan="1" width="25%" valign="baseline">
              <h3>Amount</h3>
              <span>03 Hours</span>
              <br />
              <span>AUD: ${{ price.accom.toFixed(2) }}</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" width="50%"></td>
            <td colspan="2" width="50%">
              <table style="margin-left: auto;">
                <tbody>
                  <tr>
                    <td>Subtotal</td>
                    <td class="right">AUD: ${{ price.accom.toFixed(2) }}</td>
                  </tr>
                  <tr>
                    <td>VAT/GST Total</td>
                    <td class="right">AUD: ${{ price.tax.toFixed(2) }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="1" width="25%"></td>
            <td class="right" colspan="3" width="75%">
              <h3>Balance due <span class="emphasis">${{ price.total.toFixed(2) }}</span></h3>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
