
<form [formGroup]="exceptionForm.controls.availability" (ngSubmit)="onSubmit()">

  <div class="exception">
    <div class="title">
      <h2>Dates Closed</h2>
    </div>
    <div class="content">

      <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between start">
        <mat-form-field fxFlex="34%" fxFlex.lt-md="100%">
          <input matInput readonly [matDatepicker]="picker" placeholder="Add date closed" formControlName="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="49%" fxFlex.lt-md="100%">
          <input matInput formControlName="note" placeholder="Note" maxlength="30">
        </mat-form-field>

        <button mat-button class="add-button" 
                (click)="addExceptionDate()" 
                type="button" 
                fxFlex="15%" 
                fxFlex.lt-md="100%"
                [disabled]="exceptionForm.controls.availability.invalid">
          Add
        </button>
      </div>
    
      <div class="list-dates" *ngIf="exceptionDays.length > 0" style="padding: 30px">

        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between" style="margin-bottom: 15px">

          <h3 fxFlex="20%" >Date</h3>
          <h3 fxFlex="35%" >Note</h3>
          <h3 fxFlex="5%"></h3>
          <h3 fxFlex="40%"></h3>

        </div>

        <div *ngFor="let day of exceptionDays" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between">

          <span fxFlex="20%" > {{day.date | date: 'd MMMM, yyyy'}}</span>
        
          <span fxFlex="35%" >{{ day.note }}</span>

          <button fxFlex="5%"  mat-icon-button (click)="deleteExceptionDay(day)" type="button">
            <mat-icon>delete</mat-icon>
          </button>
          <h3 fxFlex="40%"></h3>

        </div>
      </div>

    </div>
    <div class="actions">
      <button mat-raised-button type="submit" class="next-button"> 
          Continue 
      </button>
      <button mat-button type="button" class="back-button" (click)="back()"> 
            Back 
      </button>
    </div>
  </div>
  
</form>
