// GRID AREAS 
.title {
  grid-area: title;
}

.content {
  grid-area: content;
}

.actions {
  grid-area: actions;
}

.next-button {
  margin: 60px 0;
  grid-area: next-button;
}

.back-button {
  margin: 60px 0;
  grid-area: back-button;
}

/* GRID CSS TITLE */
.exception {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 8fr 1fr;
  height: calc(100vh - 125px);
  grid-template-areas: 
    ". title ."
    ". content ."
    ". actions .";
  align-items: space-between;
}

.exception .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.exception .actions {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
      "back-button . next-button";
}

@media screen and (max-width:1024px) {

  .exception {
      grid-template-columns:  1fr 9fr 1fr;
      height: calc(90vh - 125px);
  }

  .exception .actions {
    grid-template-columns: 1fr 2fr 1fr;
  }

}

@media screen and (max-width:768px) {

  .exception .actions {
    grid-template-columns: 3fr 2fr 3fr;
  }

}

@media screen and (max-width:425px) {
}
/* END GRID CSS TITLE */

.list-dates {
  height: 300px; 
  border: 1px solid #ccc; 
  overflow: auto
}
