<section id="checkout">
  <div id="main">
    <mat-tab-group>
      <mat-tab label="review license">
        <h2>Review Contract</h2>
        <section>
          <h4>General Rules</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
            <a>more</a>
          </p>
        </section>
        <section>
          <h4>The License</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
            <a>more</a>
          </p>
        </section>
        <button mat-raised-button (click)="agreeToContract()">Agree and Continue</button>
      </mat-tab>
      <mat-tab label="about you">
        <h2>Almost there...</h2>
        <section>
          <mat-form-field>
            <input matInput [matDatepicker]="birthday" placeholder="Birthday">
            <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
            <mat-datepicker #birthday></mat-datepicker>
          </mat-form-field>
          <h3>Add any notes for this business expense</h3>
          <mat-form-field [floatLabel]="false">
            <textarea matInput placeholder="Type here..."></textarea>
          </mat-form-field>
          <h3>Say hi to your host, and your reason for the stay</h3>
          <mat-form-field [floatLabel]="false">
            <textarea matInput placeholder="Hi! Nice to meet you..."></textarea>
          </mat-form-field>
        </section>
        <button mat-raised-button (click)="confirmDetails()">Confirm and Continue</button>
      </mat-tab>
      <mat-tab label="confirm and pay">
        <sn-payment
          *ngIf="pLoadPayments | async"
          [cart]="(cart$ | async)"
          [customerId]="(user$ | async).uid">
        </sn-payment>
      </mat-tab>
    </mat-tab-group>
  </div>
  <aside>
    <div class="booking-cart">
      <h3>Spaces</h3>
      <div class="space-breakdown">
        <ng-container *ngIf="(cart$ | async).length < 1; else hasItems">
          <span>No items.</span>
        </ng-container>
        <ng-template #hasItems>
          <mat-accordion displayMode="flat">
            <ng-container *ngFor="let cartItem of (cart$ | async)">
              <mat-expansion-panel *ngIf="spaces[cartItem.spaceId]">
                <mat-expansion-panel-header>
                  {{ spaces[cartItem.spaceId].title }}
                </mat-expansion-panel-header>

                <h4>{{ categories[spaces[cartItem.spaceId].categoryId]?.name }}</h4>
                <span class="num-guests">
                  {{ cartItem.numGuests }} occupant{{ cartItem.numGuests > 1 ? 's' : '' }}
                </span>
                <div>
                  <ng-container *ngIf="spaces[cartItem.spaceId].priceUnit == 'hourly'; else notHourly">
                    {{ formatDate(cartItem.bookingDates[0].date) }} from
                    {{ formatDate(cartItem.bookingDates[0].fromHour, 'H', 'h A') }} to
                    {{ formatDate(cartItem.bookingDates[0].toHour, 'H', 'h A') }}
                  </ng-container>
                  <ng-template #notHourly>
                    {{ cartItem.bookingDates.length }} {{ mapPriceUnit(spaces[cartItem.spaceId].priceUnit) }}{{ cartItem.bookingDates.length > 1 ? 's' : '' }}
                    starting {{ formatDate(cartItem.bookingDates[0].date) }}
                    <div *ngIf="spaces[cartItem.spaceId].priceUnit == 'daily'">
                      <h5>Days included:</h5>
                      <ul>
                        <li *ngFor="let date of cartItem.bookingDates">
                          {{ formatDate(date.date) }}
                        </li>
                      </ul>
                    </div>
                  </ng-template>
                </div>

                <mat-action-row>
                  <button mat-button type="button" (click)="viewSpace(cartItem.spaceId)">View space</button>
                  <button mat-button type="button" color="warn" (click)="removeItem(cartItem)">Remove</button>
                </mat-action-row>
              </mat-expansion-panel>
            </ng-container>
          </mat-accordion>
        </ng-template>
      </div>
      <table class="price-breakdown">
        <tbody>
          <tr *ngFor="let item of costBreakdown">
            <td>{{ item.name }}</td>
            <td>{{ item.value }} $</td>
          </tr>
        </tbody>
      </table>
    </div>
  </aside>
</section>
