<!-- <form (ngSubmit)="onSubmit()" [formGroup]="form">
  <h2 mat-dialog-title>{{ isNew ? 'Add' : 'Edit' }} Program</h2>
  <div fxLayout="column">
    <mat-form-field>
      <input matInput type="text" placeholder="Program Name" formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Program Type" formControlName="type" required>
        <mat-option *ngFor="let type of programTypes" [value]="type.key">{{ type.value }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Master Meal Table Selection" formControlName="mealPlanId" required>
        <mat-option *ngFor="let mealPlan of mealPlans$ | async" [value]="mealPlan.$key">{{ mealPlan.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle #hasStart formControlName="hasStart">Has Start Date</mat-slide-toggle>
    <mat-form-field>
      <input matInput placeholder="Start Date" formControlName="startDate" [matDatepicker]="startDatePicker" (focus)="startDatePicker.open()">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-slide-toggle #hasEnd formControlName="hasEnd">Has End Date</mat-slide-toggle>
    <mat-form-field>
      <input matInput placeholder="End Date" formControlName="endDate" [min]="minDate" [matDatepicker]="endDatePicker" (focus)="endDatePicker.open()">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-slide-toggle formControlName="isActive">Program is Active</mat-slide-toggle>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid || form.pristine">Save</button>
    <button mat-raised-button type="button" color="warn" *ngIf="!isNew" (click)="onDelete()">Delete</button>
    <button mat-button type="button" [mat-dialog-close]="false">Cancel</button>
  </div>
</form> -->
