@import
  '~sass/abstracts/mixins',
  '~sass/abstracts/icons';

:host {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: auto;
  justify-items: center;
  overflow: hidden;
}

#hero-image-container {
  height: 600px;
  overflow: hidden;
  width: 100%;

  > img {
    object-position: 50% 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

#space-section {
  --gridGap: 80px;

  display: grid;
  grid-template-columns: 65% calc(35% - var(--gridGap));//repeat(2, calc(100% / 2 - var(--gridGap)));
  grid-gap: var(--gridGap);

  margin: 24px 60px;
  max-width: 1300px;

  #space-description {
    > div {
      margin-bottom: 48px;
    }

    .description-navigator {
      display: flex;
      flex-direction: row;

      a {
        cursor: pointer;

        &:before {
          content: '+';
        }
      }

      li {
        padding: 24px;
      }
    }

    #space-overview {
      > div {
        padding: 20px 0;

        h3 {
          font-weight: 500;
        }
      }

      > .overview-title {
        .address {
          display: block;
          padding: 12px 0;
        }

        .category {
          display: flex;
          align-items: center;

          .icon-container {
            margin-right: 12px;

            mat-icon {
              font-size: 2em;
            }
          }
        }
      }

      > .overview-ammenities {
        ul.ammenities-list {
          display: grid;
          grid-template-columns: repeat(2, auto);

          > li {
            padding: 12px 20px;

            display: flex;
            align-items: center;

            mat-icon {
              margin-right: 8px;
            }
          }
        }

        a {
          &:before {
            content: '+';
          }
        }
      }

      > #overview-cancellations {
        li {
          margin: 12px 0;

          &:before {
            content: '\2022';
            font-weight: 600;
          }
        }
      }
    }

    #space-review {
      > ul.review-list {
        > li {
          display: block;
          padding: 24px 0;
          border-bottom: 1px solid #6CDE93;

          .person {
            --imgSize: 50px;

            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 12px 0;

            .person-image {
              height: var(--imgSize);
              width: var(--imgSize);
              border-radius: var(--imgSize);
              overflow: hidden;
              margin-right: 12px;

              > img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }

            .person-name {
              font-weight: 500;
            }
          }
        }
      }

      a {
        display: block;
        padding: 24px 0;

        &:before {
          content: '+';
        }
      }
    }

    #space-host {
      > .host-details {
        --imgSize: 124px;
        --gap: 20px;

        display: grid;
        grid-template-columns: var(--imgSize) calc(100% - var(--imgSize) - var(--gap));
        grid-template-rows: auto;
        grid-gap: var(--gap);
        margin-top: 20px;

        .host-image {
          height: var(--imgSize);
          width: var(--imgSize);
          border-radius: var(--imgSize);
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .host-bio {
          .host-name {
            font-weight: 500;
          }

          > a {
            &:before { content: '+'; }
          }

          .host-social {
            padding: 24px 0;

            a {
              margin-right: 12px;
            }
          }
        }
      }
    }
  }

  #aside {
    #space-booking {
      box-shadow: 0 0 20px 0 rgba(48, 48, 48, 0.2);
      border-radius: 12px;
      overflow: hidden;
      background-color: white;
      position: sticky;
      top: 10px;
      margin-top: -343px;

      .space-host {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: repeat(3, auto);
        align-items: center;
        padding: 20px 0;

        .host-name {
          grid-row: 1 / 2;
          grid-column: 1 / 4;
          justify-self: center;
          font-weight: 500;
          text-align: center;
        }

        .host-badge {
          grid-row: 2 / 3;
          grid-column: 1 / 2;
          max-width: 175px;

          span {
            display: block;
            background-color: #163839;
            color: white;
            text-transform: uppercase;
            height: 32px;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            padding: 4px;
            line-height: 25px;
            text-align: center;
            font-size: 13px;
          }
        }

        .host-avatar {
          --imgSize: 150px;

          grid-row: 2 / 3;
          grid-column: 2 / 3;

          height: var(--imgSize);
          width: var(--imgSize);
          border-radius: var(--imgSize);
          overflow: hidden;
          margin: 8px;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .host-rating {
          grid-row: 3 / 4;
          grid-column: 1 / 4;
          text-align: center;
        }
      }

      .space-price {
        background-color: #6BDE93;
        text-align: center;
        padding: 28px;
        font-weight: 500;
        font-size: 1.5em;

        .price {
          font-weight: 600;
          font-size: 1.5em;
        }
      }

      .booking-form {
        display: flex;
        flex-direction: column;
        padding: 28px;
        justify-content: center;

        > a,
        mat-spinner {
          align-self: center;
        }
      }
    }
  }

}

#map-section {
  width: 100%;

  > agm-map {
    height: 400px;
  }
}

@include respond-to('md') {
  #hero-image-container {
    height: 500px;
  }

  #space-section {
    --gridGap: 20px;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    margin-top: -40px;

    #aside {
      grid-row: 1 / 2;
      grid-column: 1 / 2;

      #space-booking {
        position: initial;
        top: initial;
        margin-top: -192px;
      }
    }

    #space-description {
      grid-row: 2 / 3;
      grid-column: 1 / 2;

      .description-navigator {
        display: none;
      }
    }
  }
}

@include respond-to('sm') {
  #space-section {
    font-size: 0.9em;
    line-height: 1.7em;
    margin-left: 20px;
    margin-right: 20px;
  }
}
