<div id="hero-image-container">
  <img id="space-hero-image" src="https://ritzcarlton-h.assetsadobe.com/is/image/content/dam/the-ritz-carlton/hotels/usa-and-canada/ontario/toronto/new-images/RCTORON_00047.png?$XlargeViewport100pct$" alt="Space Feature image">
</div>
<section id="space-section">
  <div id="space-description">
    <ul class="description-navigator">
      <li>
        <a (click)="navigateTo('space-overview')">overview</a>
      </li>
      <li>
        <a (click)="navigateTo('space-review')">review</a>
      </li>
      <li>
        <a (click)="navigateTo('space-host')">the host</a>
      </li>
      <li>
        <a (click)="navigateTo('map-section')">location</a>
      </li>
    </ul>
    <div id="space-overview">
      <div class="overview-title">
        <span class="address">{{ (space$ | async)?.address.full_name }}</span>
        <h2 class="title">{{ (space$ | async)?.title }}</h2>
        <div class="rating">
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star_border</mat-icon>
        </div>
        <div class="category">
          <div class="icon-container">
            <mat-icon color="primary">people_outline</mat-icon>
          </div>
          Coworking
        </div>
      </div>
      <div id="overview-about" class="paragraph-section">
        <h3>About the Space</h3>
        <p gen-folding-p>
          {{ (space$ | async).description }}
        </p>
      </div>
      <div class="overview-ammenities">
        <h3>Ammenities</h3>
        <ul class="ammenities-list">
          <li>
            <mat-icon color="primary">vpn_key</mat-icon>
            Security
          </li>
          <li>
            <mat-icon color="primary">free_breakfast</mat-icon>
            Free Coffee
          </li>
          <li>
            <mat-icon color="primary">wifi</mat-icon>
            WiFi
          </li>
          <li>
            <mat-icon color="primary">headset_mic</mat-icon>
            Teleconference
          </li>
          <li>
            <mat-icon color="primary">desktop_mac</mat-icon>
            Workstation
          </li>
          <li>
            <mat-icon color="primary">ac_unit</mat-icon>
            Cool Space
          </li>
        </ul>
        <a>Show more</a>
      </div>
      <div id="overview-rules" class="paragraph-section">
        <h3>Space Rules</h3>
        <p gen-folding-p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>
      </div>
      <div id="overview-cancellations" class="paragraph-section">
        <h3>Cancellations</h3>
        <p gen-folding-p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div id="space-review">
      <div class="review-title">
        <h2>13 Reviews</h2>
        <!-- <div class="rating">
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star_border</mat-icon>
        </div> -->
      </div>
      <ul class="review-list">
        <li>
          <div class="person">
            <div class="person-image">
              <img src="http://www.math.uni-frankfurt.de/~person/_4170854.jpg" />
            </div>
            <span class="person-name">Ben</span>
            <div class="person-rating">
              <mat-icon color="primary">star</mat-icon>
              <mat-icon color="primary">star</mat-icon>
              <mat-icon color="primary">star</mat-icon>
              <mat-icon color="primary">star</mat-icon>
              <mat-icon color="primary">star_border</mat-icon>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </li>
        <li>
          <div class="person">
            <div class="person-image">
              <img src="http://www.math.uni-frankfurt.de/~person/_4170854.jpg" />
            </div>
            <span class="person-name">Robbie</span>
            <div class="person-rating">
              <mat-icon color="primary">star</mat-icon>
              <mat-icon color="primary">star</mat-icon>
              <mat-icon color="primary">star</mat-icon>
              <mat-icon color="primary">star</mat-icon>
              <mat-icon color="primary">star_border</mat-icon>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </li>
      </ul>
      <a>more</a>
    </div>
    <div id="space-host">
      <h2>Your host</h2>
      <div class="host-details">
        <div class="host-image">
          <img src="https://cbsnews2.cbsistatic.com/hub/i/r/2017/05/11/759f70c0-804e-4afa-8493-f80fc1b09ab3/thumbnail/620x350/f1625b916682d938a132af464524193a/istock-526142422.jpg">
        </div>
        <div class="host-bio">
          <h4 class="host-name">Jannet</h4>
          <p class="host-introduction">
            My partner and I are two professionals who enjoy life and living in one of the most beautiful and culturally
            diverse cities int he world. We love food and wine, nature, dancing, gin and tonics, travelling, and meeting new people.
          </p>
          <a>contact Jannet</a>
          <div class="host-social">
            <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="#"><i class="fab fa-google-plus-square fa-2x"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="aside">
    <div id="space-booking">
      <div class="space-host">
        <span class="host-name">Host Jannet</span>
        <div class="host-badge">
          <span>Trusted</span>
        </div>
        <div class="host-avatar">
          <img src="https://cbsnews2.cbsistatic.com/hub/i/r/2017/05/11/759f70c0-804e-4afa-8493-f80fc1b09ab3/thumbnail/620x350/f1625b916682d938a132af464524193a/istock-526142422.jpg" />
        </div>
        <div class="host-rating">
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star_border</mat-icon>
        </div>
      </div>
      <div class="space-price">
        <span class="currency">{{ (space$ | async)?.currency }}</span>
        <span class="price">{{ (space$ | async)?.price.price }}</span> a
        <span class="unit">day</span>
      </div>
      <div class="booking-form">
        <mat-spinner *ngIf="(isLoadingPage$ | async); else doneLoading"></mat-spinner>
        <ng-template #doneLoading>
          <sn-hourly-booking
            *ngIf="(space$ | async).priceUnit == 'hourly'"
            [space]="space$ | async">
          </sn-hourly-booking>
          <sn-general-booking
            *ngIf="(space$ | async).priceUnit != 'hourly'"
            [space]="space$ | async">
          </sn-general-booking>
        </ng-template>
      </div>
    </div>
  </div>
</section>
<section id="map-section">
  <agm-map
    [zoom]="12"
    [streetViewControl]="false"
    gestureHandling="cooperative"
    [latitude]="latitude"
    [longitude]="longitude">
  </agm-map>
</section>
<section id="related-space-section">
  <div id="related-space-title-container">
    <div id="related-space-title-wrapper">
      <h2 id="related-space-title">You may also like</h2>
    </div>
    <div id="related-space-title-icon-wrapper">
      <mat-icon class="related-space-title-icon">arrow_forward</mat-icon>
    </div>
  </div>
  <div id="related-spaces-container">
    <div class="related-space-container">

    </div>
  </div>
</section>
