<ng-container [formGroup]="parentForm">
  <div formGroupName="price">
    <div class="price">
      <mat-form-field class="price-value">
        <span class="input-currency left" [ngClass]="{'dollar': (parentForm.value.currency === 'AUD' ||
                                                              parentForm.value.currency === 'USD' ||
                                                              parentForm.value.currency === 'NZD' ||
                                                              parentForm.value.currency === 'SGD') && (focus || parentForm.value.price.price),
                                                  'eur': parentForm.value.currency === 'EUR' && (focus || parentForm.value.price.price),
                                                  'gbp': parentForm.value.currency === 'GBP' && (focus || parentForm.value.price.price),
                                                  'aed': parentForm.value.currency === 'AED' && (focus || parentForm.value.price.price) }">
          <input matInput type="number" min="0" placeholder="Price per day" formControlName="price" required (focus)="focus = true" (blur)="focus = false">
        </span>
      </mat-form-field>
      <mat-form-field class="minimum-term">
        <mat-select placeholder="Minimum Term" name="minimumTerm" formControlName="minimumTerm" required>
          <mat-option *ngFor="let term of terms" [value]="term.value">
            {{ term.display }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</ng-container>
