.hide {
  display: none !important;
}

.input-currency {
  position: relative;
}

.input-currency.left input {
  padding-left:25px;
}

.input-currency:before {
  position: absolute;
  top: 0;
}

.input-currency.left:before {
  left: 5px;
}

.dollar::before {
  content: '$'
}

.eur::before {
  content: '€'
}

.gbp::before {
  content: '£'
}

.aed::before {
  content: 'د.إ'
}

// Grid 
.price-value {
  width: 90%;
  grid-area: price-value;
}

.minimum-term {
  grid-area: minimum-term;
}

.price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "price-value minimum-term";
}

@media screen and (max-width:599px) {

  .price {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "price-value"
      "minimum-term";
  }
  
  .price-value {
    width: 100%;
    grid-area: price-value;
  }
  
  .minimum-term {
    grid-area: minimum-term;
  }

}