<!-- Header -->
<header id="header" class="grid">
  <div class="inner">
    <h1>Find any space<br>
    anytime<br>
    anywhere</h1>

    <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <input type="text" matInput placeholder="location">
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-icon matPrefix>business</mat-icon>
      <input type="text" matInput placeholder="category">
    </mat-form-field>
    <mat-form-field>
      <mat-icon matPrefix>access_time</mat-icon>
      <input type="text" matInput placeholder="anytime">
    </mat-form-field> -->

  </div>
</header>


<!-- SECTION ONE -->
<section [ngStyle]="{'--data-test': dataTest}" id="section-one">
  
  <h2>Any space <br>
  by the hour<br>
  day or month</h2>
    
</section>

