@import
  '~sass/themes/_sn-material-theme';

.sn-button {
    min-height: 50px;
    line-height: 0 !important;
    min-width: 200px;
    background-color: $color__eucalyptus !important;
    // background-color: $color__gable_green !important;
    border-radius: $button-radius !important;
    color: $color__white !important;
    font-family: "Montserrat-Bold";
    height: fit-content;
    padding: $button-padding-tb $button-padding-lr !important;
    text-transform: uppercase;
    width: fit-content;

    &:hover {
        // background-color: transparent !important;
        background-color: $color__white!important;
        border: 1px solid $color__gable_green;
        color: $color__gable_green !important;
    }

    &:disabled {
      background-color: #8c9199 !important;
      opacity: 0.2; 
      cursor: not-allowed;
    }

}
