<div [style.height]="height" fxLayout="row">
  <div class="selector" fxLayout="column" fxFlex="45">
    <mat-checkbox
      *ngFor="let item of unselected$ | async"
      [checked]="item.selected"
      (change)="item.selected = $event.checked">
      {{ printVal(item.item) }}
    </mat-checkbox>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="10">
    <button mat-button type="button" (click)="moveAll(selected$, unselected$)">&lt;&lt;</button>
    <button mat-button type="button" (click)="moveTicked(selected$, unselected$)">&lt;</button>
    <button mat-button type="button" (click)="moveTicked(unselected$, selected$)">&gt;</button>
    <button mat-button type="button" (click)="moveAll(unselected$, selected$)">&gt;&gt;</button>
  </div>
  <div class="selector" fxLayout="column" fxFlex="45">
    <mat-checkbox
      *ngFor="let item of selected$ | async"
      [checked]="item.selected"
      (change)="item.selected = $event.checked">
      {{ printVal(item.item) }}
    </mat-checkbox>
  </div>
</div>
