// GRID AREAS 
.title {
  margin: 40px 0;
  grid-area: title;
}

.content {
  grid-area: content;
}

.actions {
  margin: 80px 0;
  grid-area: actions;
}

.next-button {
  grid-area: next-button;
}

.back-button {
  grid-area: back-button;
}

/* GRID CSS TITLE */
.image {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
    ". title ."
    ". content ."
    ". actions .";
}

.image .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.image .actions {
  display: grid;
  grid-template-columns: 2fr 4fr 6fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "back-button next-button .";
}

@media screen and (max-width:1024px) {

  .image {
    grid-template-columns: 1fr 10fr 1fr;
  }

  .container {
    width: 32% !important; 
  }

}

@media screen and (max-width:599px) {

  .image {
    grid-template-columns: 0fr 12fr 0fr;
  }

  .image .actions {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "next-button"
      "back-button";
  }

  .next-button {
    grid-area: next-button;
  }
  
  .back-button {
    grid-area: back-button;
  }

  .container {
    width: 48% !important; 
  }

}
/* END GRID CSS TITLE */

/* DELETE IMAGE CLASSES */
#delete-button {
  cursor: pointer;
  color: #6CDE93;
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.container {
  position: relative;
  width: 24%; 
  margin-right: 1%; 
  margin-bottom: 1%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 142px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(108, 222, 147, 0.8);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50%;
  padding: 5px 5px 0 5px;
}

.plus-divs {
  border: 2px dashed #6cde93; 
  width: 24%; 
  margin-bottom: 10px;
  height: 142px;
}

.add-icon {
  color: #6cde93; 
  width: 40px;
  height: 40px;
  font-size: 40px;
  cursor: pointer
}

.image-data {
  height: 142px; 
  width: 100%; 
}