<h2>Booking Requests</h2>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Header
    </mat-expansion-panel-header>
    Content
    <mat-action-row>
      Actions
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Header
    </mat-expansion-panel-header>
    Content
    <mat-action-row>
      Actions
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Header
    </mat-expansion-panel-header>
    Content
    <mat-action-row>
      Actions
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Header
    </mat-expansion-panel-header>
    Content
    <mat-action-row>
      Actions
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
