
<div class="modal-overlay fade" ng-click="clickToClose()" style="padding: 5% 30%">
        <div class="modal-content align-center" style="max-width:100%;" ng-click="$event.stopPropagation();">
          <section >
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div style="background-color: white;"  class="row">
                <div class="row">
                  <div class="container" class="col-md-12">
                  <div class="col-md-12" style="margin-top: -5%; margin-bottom: 2%">
                      <div class="logo col-md-6" ><img src="./modules/core/client/img/site/logo-spacenow.png"></div>
                      <div class="col-md-6" style="float: right;">
                        <h4 align=right ><strong> SPACENOW </strong></h4>              
                        <h6 align=right>(+61) 1300 021 087</h6>              
                        <h6 align=right>admin@spacenow.com.au</h6>            
                        <h6 align=right>ABN: 81 602 090 997</h6>             
                        <h6 align=right>www.spacenow.com.au</h6> 
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="col-md-6">
                        <h4><strong>TAX INVOICE</strong></h4>
                      </div>
                      <div class="col-md-6" style="margin-bottom: 2%;">
                        <h6 align=left><strong>Invoice: </strong>{{ vm.invoice._id }}</h6>
                        <h6 align=left><strong> Date: </strong>{{ vm.invoice.created | date: 'dd MMM yyyy' }} </h6>
                      </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 5%">
                      <div class="col-md-6 pt-5">
                        <h6 align=left> <div style="margin-bottom: 6%"><strong>GUEST DETAILS</strong></div></h6>
                        <h6 align=left> <strong>Name:</strong> {{vm.invoice.booking.guest.displayName}}</h6> 
                        <h6 align=left> <strong>Phone:</strong> {{vm.invoice.booking.guest.phone}}</h6> 
                        <h6 align=left> <strong>Email:</strong> {{vm.invoice.booking.guest.email}}</h6> 
                      </div>   
                    </div>
                    <div>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th align=center>ACTIVITY</th>
                            <th align=center>GUESTS</th>
                            <th align=center>START</th>
                            <th align=center>FINISH</th>
                            <th align=center>TIME</th>
                            <th align=center>AMOUNT</th>
                          </tr>
                        </thead>
                        <tbody style="font-size: 11px">
                          <tr>
                            <td align=left>{{ vm.invoice.booking.listing.price.method | uppercase}} BOOKING</td>
                            <td align=left>{{ vm.invoice.booking.numberOfGuests }}</td>
                            <td align=left><span ng-if="vm.invoice.booking.leasingPeriod == 'hourly'">{{ vm.bookingStartTime[0] }}:<span ng-if="vm.bookingStartTime[1] == 0">00</span><span ng-if="vm.bookingStartTime[1] > 0">{{ vm.bookingStartTime[1] }}</span></span> {{ vm.invoice.booking.from | date:'dd MMM yy' }}
                            </td>
                            <td align=left><span ng-if="vm.invoice.booking.leasingPeriod == 'hourly'">{{ vm.bookingFinishTime[0] }}:<span ng-if="vm.bookingFinishTime[1] == 0">00</span><span ng-if="vm.bookingFinishTime[1] > 0">{{ vm.bookingFinishTime[1] }}</span></span> {{ vm.invoice.booking.to | date:'dd MMM yy' }}
                            </td>
                            <td align=left ng-switch="vm.invoice.booking.leasingPeriod">
                              <span ng-switch-when="hourly" ng-if="vm.hours > '1'"> {{ vm.hours }} Hours 
                                <span ng-if="vm.minutes != '0'">{{ vm.minutes }} Minutes</span></span>
                              <span ng-switch-when="hourly" ng-if="vm.hours == '1'"> {{ vm.hours }} Hour 
                                <span ng-if="vm.minutes != '0'">{{ vm.minutes }} Minutes</span></span> 
                              <span ng-switch-when="hourly" ng-if="vm.hours == '0'"> 
                                <span ng-if="vm.minutes != '0'">{{ vm.minutes }} Minutes</span></span>   
                              <span ng-switch-when="daily" ng-if="vm.days == 1">{{ vm.days }} Day</span>
                              <span ng-switch-when="daily" ng-if="vm.days > 1">{{ vm.days }} Days</span>
                              <span ng-switch-when="weekly" ng-if="vm.weeks == 1">{{ vm.weeks }} Week</span>
                              <span ng-switch-when="weekly" ng-if="vm.weeks > 1">{{ vm.weeks }} Weeks</span>
                              <span ng-switch-when="monthly" ng-if="vm.months == 1">{{ vm.months }} Month</span>
                              <span ng-switch-when="monthly" ng-if="vm.months > 1">{{ vm.months }} Months</span>
                            </td>
                      
                            <td align=left>{{ vm.invoice.booking.guestPrice | currency }} AUD </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>   
                    <hr>
                    <div class="col-md-6" style="float: right;">
                      <table style="width: 100%">
                        <tr>
                          <td align=left>SUBTOTAL</td>
                          <td align=right>{{ vm.invoice.booking.guestPrice | currency }} AUD</td>
                        </tr>
                        <tr ng-if="vm.invoice.booking.hasGST">
                          <td align=left>GST TOTAL</td>
                          <td align=right>{{ vm.gst | currency }} AUD</td>
                        </tr>
                        <tr>
                          <td align=left>TOTAL</td>
                          <td align=right>{{ vm.total | currency }} AUD</td>
                        </tr>
                        <tr>
                          <td align=left><div style="margin-top: 5%"><strong>BALANCE DUE</strong></div></td>
                          <td align=right style="font-size:18px; margin-top: 3%"><strong>{{ vm.total | currency }} AUD</strong></td>
                        </tr>
                      </table>
                    </div>  
                  </div>  
                </div>
              </div>   
            </div>
          </section> "{{'./modules/invoices/client/pdfs/Invoice_' + vm.invoice._id}}" data-ui-sref="settings.guestbookings"
          <div class="row pt-5">
            <a ng-if="!vm.downloadFlag" style="margin-left: 1%; width: 49%;" href="{{'./modules/invoices/client/pdfs/Invoice_' + vm.invoice.booking._id + '.pdf'}}" download> <button  class="btn btn-primary margin-top-20" ng-click="vm.download()"style="width: 100%">Download</button></a>
            <button ng-if="vm.downloadFlag" data-ui-sref="settings.guestbookings" class="btn btn-primary margin-top-20" style="margin-left: 1%; width: 49%;">Ok</button>
            <button class="btn btn-primary margin-top-20" style="width: 49%; background-color: transparent" data-ui-sref="settings.guestbookings">Cancel</button>
          </div>
        </div>
      </div>
    ```