
<form #form="ngForm" (ngSubmit)="onSigninSubmit()" [formGroup]="signinForm">

    <mat-form-field>
      <input matInput placeholder="E-Mail" type="text" name="username" required formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" name="password" required formControlName="password">
    </mat-form-field>
   
      <mat-checkbox class="remember-me">Remember Me</mat-checkbox>
      <a class="forgot-password" [routerLink]="['/forgot-password']">Forgot Password?</a>

    <button color="primary" mat-raised-button [disabled]="!signinForm.valid">SIGN IN</button>
    <p class="note">Don't have an account?<br/> <a [routerLink]="['/register']">Click here to create one</a></p>

</form>

<button
          (click)="googleLogin()">

      Sign In with Google
  </button>
