@import
    '~sass/abstracts/mixins';


:host {

    --gap: 30px;
    --size: 60%;
    display: flex;
    align-content: center;
    height: 100vh;

    @include respond-to('desktop') {
        --size: 70%;
    }
    @include respond-to('tablet') {
        --size: 80%;
    }
    @include respond-to('phone-wide') {
        --size: 90%;
    }

    > div {

        min-width: var(--size) !important;
        width: var(--size) !important;
        max-width: var(--size) !important;
        margin: auto auto !important;
        
        .signinForm {
            
            width: 100%;
            
            > * {
                
                margin: calc(var(--gap) / 2);
                
            }
            
        }
        
        .btn-container {

            display: grid;
            grid-gap: var(--gap);
            grid-template-columns: repeat(3, 1fr);
            padding: calc(var(--gap) / 2);
            width: 100%;

            @include respond-to('phone-wide') {
                grid-template-columns: repeat(1, 1fr);
            }

        }

    }

}