<div fxLayout="column" fxLayoutAlign="center center" fxFill>

  <form #form="ngForm" (ngSubmit)="onSigninSubmit()" [formGroup]="signinForm" fxLayout="column" class="signinForm">
      <h1>Log In</h1>
      <h3>Complete for to log in</h3>
      <mat-form-field>
        <input matInput placeholder="E-Mail" type="text" name="username" required formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" name="password" required formControlName="password">
      </mat-form-field>
      
      <span class="error" *ngIf="error$ | async as error">{{error.message}}</span>

      <mat-checkbox class="remember-me">Remember Me</mat-checkbox>
      <button mat-raised-button [disabled]="!signinForm.valid" class="primary">log in</button>
        
      <a class="forgot-password" href="#" (click)="setSidenavForgotPassword();">Forgot Password?</a>
      <p class="note">Not a member? <a href="#" (click)="setSidenavRegister();">Sign up</a></p>

  </form>

  <div class="btn-container">
    <button mat-raised-button class="secondary" (click)="googleLogin()">
      Google
    </button>
    <button mat-raised-button class="secondary " (click)="facebookLogin()">
      Facebook
    </button>
    <!-- <button mat-raised-button class="secondary" (click)="linkedinLogin()">
      Linkedin
    </button> -->
  </div>

</div>