<div id="hero-image">
  <img src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Fhome%2Fhero-image.png?alt=media&token=c65f28b7-b689-441c-9bc9-35edd453f5d1">
</div>
<div id="content">
  <section id="about-us">
    <h2>About Us</h2>
    <blockquote>
      Spacenow.com is Australia's <strong>largest peer-to-peer marketplace for commercial space</strong>,
      linking hosts (people with space) with people who need it
    </blockquote>
    <section id="description">
      <p>
        Founded in 2014, Spacenow is rapidly assisting the constantly evolving business landscape and
        assisting the traditional commercial real estate models. Having noticed a gap in the shared
        economy market for a service that offers commercially rentable space, Spacenow came about as the
        brainchild of a few Sydney entrepreneurs.
      </p>
      <p>
        Similar to online service Uber, Spacenow is built on the platform business model of not owning any
        assets as a company, but rather allowing users to list their vacant spaces for rent to others. This
        business model facilitates a direct exchange between consumers (guests) and producers (hosts),
        allowing for global scalability. Space now offers over twenty-five different categories of spaces,
        spanning from office and coworking spaces to creative studios and storage and event spaces.
        any
      </p>
    </section>
  </section>
  <section id="our-team">
    <h3>Our Team</h3>
    <p>
      Founded by acquisition and investment specialist Baydr Strik, digital monetisation and marketing professional
      Barrett Ovens, and real estate expert Daniel Gunning, they have been working on Spacenow since 2014.
    </p>
    <p>
      Several other highly-skilled individuals have since joined, including President of Real Estate Institute in
      Australia, Malcolm Gunning, entrepreneur Arash Langaroudi, and internationally acclaimed commercial photographer
      Nick Leary.
    </p>
    <ul id="team">
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/arash.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Arash Dadashian Langaroudi</span>
        <span class="position">CEO</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/barrett.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Barrett Ovens</span>
        <span class="position">CTO</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/daniel.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Daniel Gunning</span>
        <span class="position">CMO</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/baydr.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Baydr Strik</span>
        <span class="position">CFO</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/nick.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Nick Leary</span>
        <span class="position">Creative Director</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/elias.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Elias Helou</span>
        <span class="position">CRO</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/rich.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Richard Long</span>
        <span class="position">Board Adviser</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/mark.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Mark Saleh</span>
        <span class="position">MENA Representative</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/lucas.png">
          </div>
          <a href="https://www.linkedin.com/in/lucasnascimentoanalyst" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Lucas Nascimento</span>
        <span class="position">Software Developer</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/gui.png">
          </div>
          <a href="https://www.linkedin.com/in/gui-abbate-181ab7a6" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Gui Abbate</span>
        <span class="position">Creative Manager</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/blayne.png">
          </div>
          <a href="https://www.linkedin.com/in/blayne-r-34080065" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Blayne Reily</span>
        <span class="position">Account Director</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/errol.png">
          </div>
          <a href="https://www.linkedin.com/in/rrlqzdpnd" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Errol Pineda</span>
        <span class="position">Senior Developer</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/plinio.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Plinio Nitzsche</span>
        <span class="position">Illustrator / Graphic Designer</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/frances.png">
          </div>
          <a href="https://www.linkedin.com/in/frances-magiera-95464bba" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Frances Magiera</span>
        <span class="position">Social Media Manager</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/thang.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Thang Tran</span>
        <span class="position">Business Analyst</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/diego.png">
          </div>
          <a href="https://www.linkedin.com/in/diego-passoni-559392124" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Diego Passoni</span>
        <span class="position">Graphic Designer</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/camila.png">
          </div>
          <a href="https://www.linkedin.com/in/camila-concha-778aa1109" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Camila Concha</span>
        <span class="position">Junior Developer</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/mollie.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Mollie Steggall</span>
        <span class="position">Graphic Designer</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/gui2.png">
          </div>
          <a href="https://www.linkedin.com/in/guilherme-guerreiro-27b30626" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Guilherme Guerreiro</span>
        <span class="position">Junior Developer</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/jojo.png">
          </div>
          <a href="https://www.linkedin.com/in/joevina-hufana" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Joevina Hufana</span>
        <span class="position">Account Manager</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/beau.png">
          </div>
          <a href="https://www.linkedin.com/in/beau-nijdam-484308a4" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Beau Nijdam</span>
        <span class="position">Account Manager</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/jyad.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Jyad Murr</span>
        <span class="position">Board Adviser</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/jay.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Jayshree Gupta</span>
        <span class="position">Legal</span>
      </li>
      <li class="team-member">
        <div class="image">
          <div class="img-container">
            <img src="./assets/images/team/alfred.png">
          </div>
          <a href="" class="linkedin">
            <img src="./assets/icons/linkedin_icon.svg"/>
          </a>
        </div>
        <span class="name">Alfred Bham</span>
        <span class="position">Legal</span>
      </li>
    </ul>
  </section>
</div>
