<!-- TODO: Add missing links -->
<div class="grid">
    <div class="wrapper">
        <h1><a routerLink=""><mat-icon id="back-icon">keyboard_arrow_left</mat-icon></a>About us</h1>
        <div id="about-us">
            <ol>
                <li>
                    <a href="">Spacenow.com</a> is Australia’s largest peer-to-peer marketplace for commercial space, linking hosts (people with space) with people who need it. Founded in 2014, Spacenow is rapidly assisting the constantly evolving business landscape and assisting the traditional commercial real estate models.<br><br>                   
                    Having noticed a gap in the shared economy market for a service that offers commercially rentable space, Spacenow came about as the brainchild of a few Sydney entrepreneurs.<br><br>                    
                    Similar to online service uber, Spacenow is built on the platform business model of not owning any assets as a company, but rather allowing users to list their vacant spaces for rent to others. This business model facilitates a direct exchange between consumers (guests) and producers (hosts), allowing for global scalability.<br><br>    
                    Spacenow offers over twenty-five different categories of spaces, spanning from office and coworking spaces to creative studios and storage and event spaces.<br><br>
                </li>
            </ol>
        </div>
    </div>
</div>

<div id="our-team" fxLayout="column">
    <div class="grid">
        <div class="wrapper">
            <h1>Our team</h1>
            <div style="margin-bottom: 40px">
                <span>
                    Founded by acquisition and investment specialist Baydr Strik, digital monetisation and marketing professional Barrett Ovens, and real estate expert Daniel Gunning they have been working on Spacenow since 2014.<br><br>
                    Several other highly skilled individuals have since joined, including President of Real Estate Institute of Australia, Malcolm Gunning, entrepreneur Arash Langaroudi, and internationally acclaimed commercial photographer Nick Leary.<br><br>
                </span>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between">
                <div class="mb-20" fxFlex="30%" fxFlex.lt-md="47%" fxFlex.lt-sm="100%">
                    <img class="full-width" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Fpages%2Fdaniel.png?alt=media&token=866207af-58f6-4aac-9bca-f9c1ecb95a3c" alt="...">
                    <div class="text-boxes">
                        <div class="team-members"><span>Daniel Gunning</span></div>
                        <span><strong>CMO</strong></span><br>
                        <span style="color: #868686;">Founder</span>
                    </div>
                </div>
                <div class="mb-20" fxFlex="30%" fxFlex.lt-md="47%" fxFlex.lt-sm="100%">
                    <img class="full-width" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Fpages%2Fbarrett.png?alt=media&token=3b288d66-5d44-4dca-acaf-6c36d0036804" alt="...">
                    <div class="text-boxes">
                        <div class="team-members"><span>Barrett Ovens</span></div>
                        <span><strong>CTO</strong></span><br>
                        <span style="color: #868686;">Founder</span>
                    </div>
                </div>
                   <div class="mb-20" fxFlex="30%" fxFlex.lt-md="47%" fxFlex.lt-sm="100%">
                    <img class="full-width" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Fpages%2Fbaydr.png?alt=media&token=868d58bf-73ad-45bc-8958-d91d5bc7c36e" alt="...">
                    <div class="text-boxes">
                        <div class="team-members"><span>Baydr Strik</span></div>
                        <span><strong>CFO</strong></span><br>
                        <span style="color: #868686;">Founder</span>
                    </div>
                </div>
                <div class="mb-20" fxFlex="30%" fxFlex.lt-md="47%" fxFlex.lt-sm="100%">
                    <img class="full-width" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Fpages%2Farash-d-langaroudi.png?alt=media&token=c4437372-058e-4f60-a8e6-6389a8a7e497" alt="...">
                    <div class="text-boxes">
                        <div class="team-members"><span>Arash Dadashian Langaroudi</span></div>
                        <span><strong>CEO</strong></span>
                    </div>
                </div>
                <div class="mb-20" fxFlex="30%" fxFlex.lt-md="47%" fxFlex.lt-sm="100%">
                    <img class="full-width" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Fpages%2Felias.png?alt=media&token=e819c6a0-d09a-49ee-9bfb-5782865fa0d1" alt="...">
                    <div class="text-boxes">
                        <div class="team-members"><span>Elias Helou</span></div>
                        <span><strong>CRO</strong></span>
                    </div>
                </div>
                <div class="mb-20" fxFlex="30%" fxFlex.lt-md="47%" fxFlex.lt-sm="100%">
                    <img class="full-width" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Fpages%2Fnick-leary-cd.png?alt=media&token=2144d1ad-22e4-4418-87a7-306350b9c4d7" alt="...">
                    <div class="text-boxes">
                        <div class="team-members"><span>Nick Leary</span></div>
                        <span><strong>CREATIVE DIRECTOR</strong></span>
                    </div>
                </div>
                <div class="mb-20" fxFlex="30%" fxFlex.lt-md="47%" fxFlex.lt-sm="100%">
                    <img class="full-width" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Fpages%2Fmalcolm-gunning.png?alt=media&token=dadc3e6d-cdb5-45a3-ba41-4856259d2e03" alt="...">
                    <div class="text-boxes">
                        <div class="team-members"><span>Malcolm Gunning</span></div>
                        <span><strong>BOARD ADVISOR</strong></span>
                    </div>
                </div>
                <div class="mb-20" fxFlex="30%" fxFlex.lt-md="47%" fxFlex.lt-sm="100%">
                    <img class="full-width" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Fpages%2Fmark-saleh-MENA.png?alt=media&token=1027449e-f1aa-4de3-a979-5366c648d87a" alt="...">
                    <div class="text-boxes">
                        <div class="team-members"><span>Mark Saleh</span></div>
                        <span><strong>MENA REPRESENTATIVE</strong></span><br>
                    </div>
                </div>
                <div class="mb-20" fxFlex="30%" fxFlex.lt-md="47%" fxFlex.lt-sm="100%">

                </div>
            </div>
        </div>
    </div>

</div>
