
#hero-image-container {
  border: 1px solid red;
  position: relative;
  margin-top: -132px;
  top: 0px;
  height: 600px;
  overflow: hidden;
}

#space-hero-image {
  width: 100%;
}

#space-section {
  width: 70vw;
  margin: auto;
}

#space-container {
  border: 1px solid blue;
}

#space-description-container {
  min-height: 1400px;
  border: 1px dashed green;
  margin-right: calc(10vw + 270px);
  // background-color: orange;
}

#space-booking-container {
  top: 300px;
  right: 15vw;
  height: 750px;
  width: 400px;
  // border: 1px solid purple;
  background-color: #fff;
  z-index: 100;
  // border: 2px solid transparent;
  transition: all 0.5s ease;
  box-shadow: 0px 20px 40px 0 #dddddd;
}

#space-booking-avatar-container {
  height: 200px;
  // border: 1px solid red;
  text-align: center;
  padding: 10px 5px 10px;
}

#space-booking-avatar {
  object-fit: cover;
  border-radius:50%;
  width: 100px;
  height: 100px;
  margin-left: -70px;
  vertical-align: middle;
}

#space-booking-badge {
  background-color: #173839;
  color: #fff;
  padding: 5px 20px 5px 5px;
  width: 80px;
  float: left;
  margin-left: -5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 12px;
  font-weight: bold;
}

#space-booking-price-container {
  // border: 1px solid green;
  background-color: #6cde93;
  height: 95px;
  padding:0;
  margin:0;
  line-height: 95px;
  text-align: center;
}

#space-booking-currency, 
#space-booking-price,
#space-booking-price-unit {
  color: #173839;
  font-size: 24px;
}

#space-booking-price {
  font-weight: bold;
  font-size: 32px;
}

#space-booking-time-container {
  padding: 10px;
}

.booking-time-container {
  // border: 1px solid red;
  height: 75px;
  width: 100%;
  padding: 10px;
}

.booking-time-icon-container {
  // border: 1px solid blue;
  display: inline-block;
  width: 20%;
  padding-right: 10px;
}

.booking-time-select-container {
  // border: 1px solid green;
  display: inline-block;
  width: 75%;
}

.booking-time-icon {
  font-size: 2.5em;
  vertical-align: text-bottom;
}

.booking-time-select {
  width: 100%;
}

#booking-button-container {
  padding-top: 50px;
  text-align: center;
}

.booking-button {
  width: 100%;
}

#space-map{
  min-height: 400px;
  background-color: blue;
}

#related-spaces-container {
  min-height: 400px;
  border: 2px solid cyan;
}

#space-booking-container.positionFixed {
  // background-color: red;
  position: fixed;
}

#space-booking-container.positionAbsolute {
  // background-color: yellow;
  position: absolute;
  top: calc(850px);
  // bottom: 300px;
}

@media screen and (max-width: 1279px) {
  #space-section {
    width: 100%;
  }

  #hero-image-container{
    height: 250px;
  }

  #space-description-container {
    margin: auto;
  }

  #space-booking-container.positionFixed, 
  #space-booking-container.positionAbsolute {
    position: relative;
    width: 100%;
    top: 0px;
    right: 0px;
  }
}

