
<!-- Space Hero image -->
<div id="hero-image-container">
  <img id="space-hero-image" src="../../../../assets/images/mockup/meeting-1.jpg" alt="Space Feature image">
</div>

<section id="space-section">
  <div id="space-container" fxLayout="row" fxLayout.lt-md="column">
    <div id="space-booking-container"
      [ngClass]="{'positionFixed': (isStopNow | async), 'positionAbsolute': !(isStopNow | async)}">
      <div id="booking-page-1" *ngIf="true">
        <!-- Booking page 1 -->
        <div id="space-booking-avatar-container">
          <div><span>Host Jannet</span></div>
          <div>
            <span id="space-booking-badge">Trusted</span>
            <img id="space-booking-avatar" src="../../../../assets/images/mockup/avatar.jpg" alt="host avatar image">
          </div>
          <div id="space-booking-rating-container">
            <mat-icon color="primary">star_rate</mat-icon>
            <mat-icon color="primary">star_rate</mat-icon>
            <mat-icon color="primary">star_rate</mat-icon>
            <mat-icon color="primary">star_rate</mat-icon>
            <mat-icon color="primary">star_border</mat-icon>
          </div>
        </div>
        <div id="space-booking-price-container">
          <span id="space-booking-currency">AUD</span>
          <span id="space-booking-price">$550</span>
          <span id="space-booking-price-unit">a day</span>
        </div>
        <div id="space-booking-time-container">
          <div>
            <mat-checkbox>Book by hour</mat-checkbox>
          </div>
          <!-- Booking from  -->
          <div fxLayout="row" fxLayout.lt-md="row" fxLayoutAlign="space-between center" class="booking-time-container">
            <div fxFlex="15%" class="booking-time-icon-container">
              <mat-icon color="primary" class="booking-time-icon">schedule</mat-icon>
            </div>
            <div fxFlex="80%" class="booking-time-select-container">
              <mat-form-field class="booking-time-select">
                <mat-select id="mat-select-booking-from" placeholder="From" name="unit" formControlName="unit" required>
                  <!-- <mat-option *ngFor="let unit of units" [value]="unit.value"> -->
                  <!--   {{ unit.display }}  -->
                  <!-- </mat-option> -->
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- Booking to -->
          <div fxLayout="row" fxLayout.lt-md="row" fxLayoutAlign="space-between center" class="booking-time-container">
            <div fxFlex="15%" class="booking-time-icon-container">
              <mat-icon color="primary" class="booking-time-icon">schedule</mat-icon>
            </div>
            <div fxFlex="80%" class="booking-time-select-container">
              <mat-form-field class="booking-time-select">
                <mat-select id="mat-select-booking-from" placeholder="To" name="unit" formControlName="unit" required>
                  <!-- <mat-option *ngFor="let unit of units" [value]="unit.value"> -->
                  <!--   {{ unit.display }}  -->
                  <!-- </mat-option> -->
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- Booking button -->
          <div id="booking-button-container">
            <button mat-raised-button class="booking-button">
              Book
            </button> 
            <span>You won't be charged yet</span>
          </div>
        </div>
      </div>
      <div id="booking-page-2" *ngIf="false">
        <!-- Booking page 2 -->
      </div>
    </div>
    <div id="space-description-container" fxFlex=50%>This is Space description section</div>
  </div>
  <div id="space-map">Google Map</div>
  <div id="related-spaces-container">This is the related spaces section</div>
</section>

