<form [formGroup]="listingAddressForm">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div fxFlex="45%" fxFlex.lt-md="100%" fxLayout="column">
      <mat-form-field>
        <input matInput type="unit" placeholder="Unit" formControlName="unit" required>
      </mat-form-field>
    </div>
  </div>
  <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div fxFlex="45%" fxFlex.lt-md="100%" fxLayout="column">
        <mat-form-field>
          <input matInput type="street" placeholder="Street" formControlName="street" required>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div fxFlex="45%" fxFlex.lt-md="100%" fxLayout="column">
          <mat-form-field>
            <input matInput type="suburb" placeholder="Suburb" formControlName="suburb" required>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
          <div fxFlex="45%" fxFlex.lt-md="100%" fxLayout="column">
            <mat-form-field>
              <input matInput type="state" placeholder="State" formControlName="state" required>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <div fxFlex="45%" fxFlex.lt-md="100%" fxLayout="column">
              <mat-form-field>
                <input matInput type="postalCode" placeholder="Postal Code" formControlName="postalCode" required>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex="45%" fxFlex.lt-md="100%" fxLayout="column">
                <mat-form-field>
                  <input matInput type="countryName" placeholder="Country Name" formControlName="countryName" required>
                </mat-form-field>
              </div>
            </div> -->
</form>
