<form [formGroup]="openingDayForm">
  <!-- <div fxLayout="row" fxLayoutAlign="space-between center"> -->
    <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <span fxFlex="10%">{{weekday}}</span>
      <mat-slide-toggle fxFlex="30%" fxFlex.lt-sm="25%" #slider
        formControlName = "isOpen"
        (change)="openingDayChange()"> {{ openingDayForm.value.isOpen ? 'Open' : 'Closed' }}
      </mat-slide-toggle>
      <mat-form-field fxFlex="24%" fxFlex.lt-sm="30%" *ngIf="isSlideOpened">
        <mat-select
          formControlName = "startHour"
          (selectionChange)="filterClosingHours($event); openingDayChange()"
           required>
            <mat-option *ngFor="let openingHour of openingHours" [value]="openingHour.key" >
              {{ openingHour.value }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="24%" fxFlex.lt-sm="30%" *ngIf="!isSlideOpened">
        <input matInput formControlName="startHour" readonly value="">
      </mat-form-field>
      <mat-form-field fxFlex="24%" fxFlex.lt-sm="30%" *ngIf="isSlideOpened">
        <mat-select
          formControlName = "closeHour"
          (selectionChange)="openingDayChange()"
          required>
            <mat-option *ngFor="let closingHour of closingHours | async" [value]="closingHour.key">
              {{ closingHour.value }} 
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="24%" fxFlex.lt-sm="30%" *ngIf="!isSlideOpened">
        <input matInput formControlName="closeHour" readonly value="">
      </mat-form-field>
    </div>
    <!-- <div fxFlexFill></div> -->
  <!-- </div> -->
</form>

