:host {
  display: block;
  padding: 20px;
}

.space-list {
  --hover: #6cde93;
  --gridSpace: 60px;
  --numColumns: 4;

  display: grid;
  grid-template-columns: repeat(var(--numColumns), calc(100% / var(--numColumns) - var(--gridSpace)));
  grid-gap: var(--gridSpace);
  margin-top: 20px;
}
