<!-- TODO: Add links  -->
<div class="grid">
    <div class="wrapper">
        <h1><a routerLink=""><mat-icon style="font-size: 40px; margin-right: 40px; cursor: pointer">keyboard_arrow_left</mat-icon></a>Cancellation and Refund Policy</h1>
        <div style="margin-top: 40px">
            <ol>
                <li>
                
                    1. A Host may cancel a reservation if a contract has been entered into the sale of the Space or the Building.<br><br>
                </li>
                <li>
                
                    2. If a Host cancels a Reservation you can transfer your payment to a new Reservation provided you do so within 7 days of the 
                    cancellation. <br> <br>
                
                </li>
                <li>
                
                    3.For an Hourly Reservation if a Guest cancels within 1 hour of the Agreement Time or 24 hours before the start of the Term a full 
                    refund of the Fees and Taxes paid in respect of that Reservation. However, if a Guest chooses to cancel more than 1 hour after the 
                    Agreement Time or within 24 hours of the Start Time no moneys will be refundable. <br> <br>
                
                </li>
                <li>
                
                    4. For a Daily Reservation if a Guest cancels within 1 hour of the Agreement Time or 36 hours before the start of the Term a full 
                    refund of the Fees and Taxes paid in respect of that Reservation. However, if a Guest chooses to cancel more than 1 hour after 
                    the Agreement Time or within 36 hours of the Start Time no moneys will be refundable. <br> <br>
                
                </li>
                <li>
                
                    5. For a Weekly Reservation if a Guest cancels within 1 hour of the Agreement Time or 48 hours before the start of the Term a full 
                    refund of the Fees and Taxes paid in respect of that Reservation. However, if a Guest chooses to cancel more than 1 hour after the 
                    Agreement Time or within 48 hours of the Start Time no moneys will be refundable. <br> <br>
                
                </li>
                <li>
                
                    6. For a Monthly Reservation if a Guest cancels within 1 day of making the Agreement Time or at least 30 days before the Start Date 
                    the Guest will receive a full refund of the Deposit and any Fees and Taxes paid in respect of that Reservation. However, if a Guest 
                    chooses to cancel after the Agreement Date plus 1 day, but less than 30 days before the State Date, 50% of the Fees and Taxes 
                    payable in respect of that Reservation will refunded but the Guest is no longer obligated to pay the remaining Fees and Taxes for 
                    the Minimum Term. <br> <br>
                
                </li>
            </ol>
        </div>
    </div>
</div>