
<mat-form-field>
    <input matInput placeholder="E-Mail" type="email" name="username" required formControlName="username">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="First Name" type="text" name="firstName" required formControlName="firstName">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Last Name" type="text" name="lastName" required formControlName="lastName">
</mat-form-field>
<mat-form-field>
    <mat-select placeholder="Gender" name="gender" required formControlName="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="dob" placeholder="DOB" required formControlName="dob">
    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
    <mat-datepicker #dob startView="multi-year"></mat-datepicker>
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Phone Number" type="text" name="phoneNumber" formControlName="phoneNumber">
</mat-form-field>

<div formArrayName="addresses">
    <sn-address [parentForm]="parentForm" [addresses]="contact.addresses"></sn-address>
</div>