<style>
        body {background-color:#f4f4f4;}
        p,div, h1, h2, h3 {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: normal;
          color: #333333;
          font-size: 15px;
      
        }
        a:visited,
        a:active,
        a:focus,
        a {
          color: #6cde93 !important;
        }
        ul li{
          padding: 5px 3px;
        }
        .btn {
          display: inline-block;
          font-weight: 400;
          line-height: 1.25;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          border: 1px solid transparent;
          padding: 12px 20px;
          font-size: 1rem;
          text-decoration: none;
          border-radius: .25rem;
          -webkit-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          color: #fff;
          background-color: #173839 !important;
          border-color: #173839 !important;
        }
        .col-50p {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
          padding-right: 15px;
          padding-left: 15px;
          position: relative;
          width: 100%;
          min-height: 1px;
        }
        .row {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
      }
      </style>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Spacenow - Booking Request</title>
      <table border="0" cellspacing="0" align="left" width="100%" bgcolor="#f4f4f4">
          <tr align="left" >
            <td></td>
            <td width="960" height="30" bgcolor="#f4f4f4"></td>    <!-- FF4D58 -->
            <td></td>
          <tr align="left">
              <td></td>
              <td width="960" bgcolor="#FFF" style="padding: 40px 60px; border: 1px solid #CCC;">
                <!-- <center>
                  <h2 style="color: #FF4D58;">Booking Complete</h2>
                </center> -->
                <div style="padding-top: 10px;padding: 10%">
                  <div style="margin-bottom: 60px">
                    <a href="http://www.spacenow.com.au" target="_blank">
                      <img alt="New Spacenow" border="0" src="http://www.spacenow.com.au/modules/core/client/img/site/logo-spacenow.png"  />
                    </a>
                  </div>
                  <p> Hi {{displayName}},</p>
                  <p> Great news, you have a new booking request.</p>
                  <hr style="background-color: #CCC; height: 1px; border: 0;">
                  <p style="font-size: 17px;"><strong>Listing Details</strong></p>
                  <table width="100%" align="center" style="margin-top: 24px;">
                    <tr>
                      <td align="left"><img width="100%" src={{images[0]}} alt="{{listing.title}}" title="{{listing.title}}"></td>
                    </tr>
                    <tr>
                      <td align="left"><p><strong>{{listing.title}}</strong></p></td>
                    </tr>
                    <tr>
                      <td align="left"><p>{{listing.address.full_name}}</p></td>
                    </tr>
                  </table>
                  <br>
                  <hr style="background-color: #CCC; height: 1px; border: 0;">
                  <p style="font-size: 17px;"><strong>Guest Details</strong></p>
                  <table width="100%" align="center" style="margin-top: 24px;">
                    <tr>
                      <td align="left"><strong>Guest Name:</strong> {{bookings.userId}}</td>
                    </tr>
                  </table>
                  <br>
                  <hr style="background-color: #CCC; height: 1px; border: 0;">
                  <p style="font-size: 17px;"><strong>Booking Details</strong></p>
                  <table width="100%" align="center">
                    <tr><td align="left"><strong>Start Time:</strong><span style="margin-left: 20px;"> {{bookingDates.date}}</span><br/><span style="margin-left: 103px;"> {{bookingDates.fromHour}} </span></td></tr>
                    <tr><td align="left"><strong>End Time:</strong><span style="margin-left: 20px;"> {{bookingDates.date}}</span><br/><span style="margin-left: 96px;"> {{bookingDates.toHour}} </span></td></tr>  
                    <tr><td align="left"><strong>Price:</strong><span style="margin-left: 57px;"> $ {{finalPrice}} AUD</span></td></tr>
                    <tr><td align="left"><strong>Guests:</strong><span style="margin-left: 36px;"> {{bookingDates.numGuests}}</span></td></tr>
                  </table>
                  <br>
                  <hr style="background-color: #CCC; height: 1px; border: 0;">
                  <table width="100%" align="center" style="margin-top: 24px;margin-bottom: 24px;">
                    <tr align="center">
                      <td align="center"><a href="{{acceptLink}}" target="_blank" class="btn">Accept Booking</a></td>
                      <td align="center"><a href="{{declineLink}}" target="_blank" class="btn">Decline Booking</a></td>
                    </tr>
                  </table>
                  <hr style="background-color: #CCC; height: 1px; border: 0;">
                  <p>If you have any concerns or need help please contact us. <br/><br>
                  <a href="mailto: info@spacenow.com.au"><u style="color: #6cde93 !important">info@spacenow.com.au</u></a> or <a href="call: 1300127120"><u style="color: #6cde93 !important">1300 127 120</u></a></p><br>
                  <p>Sincerely, <br/>
                    <a style="text-decoration: none; color:  #333333;" href="http://www.spacenow.com.au"> Spacenow Team</a></p>
                </div>
              </td>
           </tr>
           <tr>
<!-- Email Footer : BEGIN -->
<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 960px;">

        <!-- 2 Columns Social Media + Notification : BEGIN -->
        <tr>
          <td bgcolor="#EEE" align="center" height="100%" valign="top" width="100%" style="padding: 20px 0">
            <table role="presentation" aria-hidden="true" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:960px;">
              <tr>
                <td align="center" valign="top" style="font-size:0;">
                  <div style="display:inline-block; vertical-align:top; width:100%;" class="stack-column">
                    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="50%" align="center">
                      <tr>
                        <td style="padding: 10px 0;">
                          <table>
                            <tr>
                              <td>
                              <td width="70px"><a href="https://www.facebook.com/spacenowaustralia/" target="_blank"><img width="27px" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Femail-templates%2Ffacebook-icon.png?alt=media&token=fe6c5a2e-0181-4cd6-b66b-414f5ca4c855"></a></td> 
                              <td width="70px"><a href="https://www.linkedin.com/company/17945312" target="_blank"><img width="36px" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Femail-templates%2Flinkedin-icon.png?alt=media&token=b3a07cc1-2115-4b31-8bd4-b4868cc080f0"></a></td> 
                              <td width="70px"><a href="https://plus.google.com/+SpaceNowSurryHills" target="_blank"><img width="50px" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Femail-templates%2Fgplus-icon.png?alt=media&token=14aa9cab-1e8d-410e-ba4e-422bccae7470"></a></td> 
                              <td width="70px"><a href="https://twitter.com/spacenow_aus" target="_blank"><img width="40px" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Femail-templates%2Ftwitter-icon.png?alt=media&token=2a03f7b2-35c4-4d6d-a8e4-7add1aaeadd0"></a></td> 
                              <td width="70px"><a href="https://www.instagram.com/spacenowaustralia/" target="_blank"><img width="35px" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Femail-templates%2Finstagram-icon.png?alt=media&token=911e2827-11e3-4d1f-a48f-6bbfaa615668"></a></td> 
                              <td width="70px"><a href="https://www.youtube.com/channel/UCIq-FZwLqPS81bASw2EksTA/featured" target="_blank"><img width="45px" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Femail-templates%2Fyoutube-icon.png?alt=media&token=0e64feb1-987d-4445-a217-0422a7f2a07f"></a></td> 
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
                </tr>
              <tr>
                  <td>
                      <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="95%" max-width="100%">
                          <tr>
                              <td style="padding: 10px 0">
                                  <tr>
                                      <td style="font-family: Montserrat; font-size: 15px; line-height: 20px; color: #173839; padding-top: 10px;">
                                          <p style="margin: 0; font-size: 15px; text-align: center; color: 173839; font-family: Montserrat;">You received this email because you are subscripted to Spacenow Email notification from Spacenow.
                                              Update your email preferences to chose the type of emails you receive.</p>
                                      </td>
                                  </tr>
                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
  
            </table>
          </td>
        </tr>
        <!-- 2 Columns Social Media + Notification  : END -->
      </table>
      <!-- Email Footer : END -->
           </tr>
      </table>
      