@import
  '~sass/abstracts/mixins',
  '~sass/abstracts/icons';

.space-card {

  // Black and White Colors

  --color_mischka: #dedfe5;
  --color_oslo_gray: #8c9199;
  --color_faded_gray: #e8e8e8;
  --color_pastel_green: #6cde93;
  --gap: 30px;

  transition: all 0.5s ease;
  z-index: 0;

  box-shadow: 0 0 0 0 transparent !important;
  margin: 12px !important;
  border-radius: 0px !important;
  cursor: pointer;
  height: 100%;

  > .images {
    border-radius: 12px;
    overflow: hidden;
    height: 250px;
    position: relative;
    border: 1px solid var(--color_faded_gray);

    .image-container {
      height: 100%;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
        height: 100px;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  > .nav-slider {

    position: absolute;
    top: 0;
    right: 0;
    margin-right: var(--gap);
    margin-top: calc(var(--gap) / 2);
    z-index: 1;

    > .mat-icon-button {
      width: auto;
      .material-icons {
        font-size: 14px;
        color: white;
      }
    }
  }

  > .mat-card-content {

    padding: 0px !important;

    > .category {
      display: flex;
      background-color: #ffffff;
      border: 1px solid var(--color_faded_gray);
      border-radius: var(--gap);
      margin-top: -53px;
      padding: 4px 12px;
      font-size: 12px;
      text-transform: uppercase;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      > :not(:last-child) {
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px solid var(--color_faded_gray);
      }

    }

    > .title {
      font-size: 20px;
      font-weight: 500;
      margin-top: var(--gap);
    }

    > .price {
      font-size: 17px;
      > span {
        color: var(--color_pastel_green);
        font-size: 1.3em;
      }
    }

    > .location {
      font-size: 14px;
      font-weight: 300;
    }

    > :not(.category) {
      margin-bottom: 8px;
    }

  }

}

.si-icon {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: auto;
  width: auto;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.si-capacity {
  @include sn-icon(8, 2, 35);
}
