<mat-card class="space-card" (click)="handleClick('view')">
  <div class="images">
    <div class="image-container">
      <img [src]="space.images[imageIndex] ? imageRequest + space.images[imageIndex].imageURL : ''"/>
    </div>
  </div>
  <div class="nav-slider" *ngIf="space.images">
    <button mat-icon-button [disableRipple]="true" (click)="imageIndex = 0; $event.stopPropagation()">
      <i class="material-icons">{{ imageIndex === 0 ? 'lens' : 'panorama_fish_eye' }}</i>
    </button>
    <button mat-icon-button [disableRipple]="true" (click)="imageIndex = 1; $event.stopPropagation()">
      <i class="material-icons">{{ imageIndex === 1 ? 'lens' : 'panorama_fish_eye' }}</i>
    </button>
    <button mat-icon-button [disableRipple]="true" (click)="imageIndex = 2; $event.stopPropagation()">
      <i class="material-icons">{{ imageIndex === 2 ? 'lens' : 'panorama_fish_eye' }}</i>
    </button>
  </div>
  <mat-card-content>
    <div class="category">
      <span class="si-icon si-capacity">{{ space.capacity }}</span>
      <span class="si-icon" [ngClass]="space.categorySlug + '-35'">{{ space.category }}</span>
    </div>
    <h3 class="title">{{ space.title }}</h3>
    <p class="price">
      <ng-container *ngIf="space.price !== 0">
          From <span>${{ space.price }}</span> {{ space.priceUnit }}
      </ng-container>
      <ng-container *ngIf="space.price === 0">
          <span>POA</span>
      </ng-container>
    </p>
    <p class="location">
      {{ space.fullAddress }}
    </p>
  </mat-card-content>
</mat-card>
