@import
  '~sass/abstracts/mixins',
  '~sass/abstracts/icons';

.space-card {

  // Black and White Colors

  --color_mischka: #dedfe5;
  --color_oslo_gray: #8c9199;
  --color_pastel_green: #6cde93;
  --border_color: transparent;
  --gap: 30px;

  transition: all 0.5s ease;
  z-index: 0;

  box-shadow: 0 0 20px 0 rgba(48, 48, 48, 0.2) !important;
  padding: 16px !important;
  border: 2px solid var(--border_color);
  border-radius: 8px !important;
  cursor: pointer;
  height: 100%;

  > .image-container {
    border-radius: 12px;
    overflow: hidden;
    height: 300px;
    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  > .nav-slider {

    position: absolute;
    top: 0;
    right: 0;
    margin-right: var(--gap);
    margin-top: calc(var(--gap) / 2);
    z-index: 1;

    > .mat-icon-button {
      width: auto;
      .material-icons {
        font-size: 14px;
        color: var(--color_pastel_green);
      }
    }
  }

  > .mat-card-content {

    padding: 0px !important;

    > .category {
      display: flex;
      background-color: #ffffff;
      border: 1px solid var(--color_oslo_gray);
      border-radius: var(--gap);
      margin-top: -60px;
      padding: 4px 12px;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      > :not(:last-child) {
        padding-right: 8px;
        margin-right: 8px;
        border-right: 2px solid var(--color_oslo_gray);
      }

    }

    > .title {
      font-weight: 500;
      margin-top: var(--gap);
    }

    > .price {
      font-size: calc(var(--gap) / 1.5);
      > span {
        color: var(--color_pastel_green);
        font-size: var(--gap);
      }
    }

    > .location {
      font-weight: 300;
    }

  }

  &:hover {
    --border_color: var(--color_pastel_green);
  }

}

.si-icon {
  height: auto;
  width: auto;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.si-capacity {
  @include sn-icon(8, 2, 35);
}
