// GRID AREAS 
.title {
  margin: 40px 0;
  grid-area: title;
}

.content {
  grid-area: content;
}

.actions {
  grid-area: actions;
}

.next-button {
  margin: 80px 0;
  grid-area: next-button;
}

.back-button {
  margin: 80px 0;
  grid-area: back-button;
}

/* GRID CSS TITLE */
.space-title {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  // grid-template-rows: 2fr 8fr 1fr;
  // height: calc(100vh - 125px);
  grid-template-areas: 
    ". title ."
    ". content ."
    ". actions .";
  align-items: space-between;
}

.space-title .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.space-title .actions {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: auto;
  grid-template-areas: 
      "next-button .";
}

@media screen and (max-width:1024px) {

  .space-title {
      grid-template-columns:  1fr 9fr 1fr;
      // height: calc(90vh - 125px);
  }

  .space-title .actions {
    grid-template-columns: 1fr 2fr 1fr;
  }

}

@media screen and (max-width:768px) {

  .space-title .actions {
    grid-template-columns: 3fr 2fr 3fr;
  }

}

@media screen and (max-width:425px) {
}
/* END GRID CSS TITLE */
