<!-- Title -->
<form [formGroup]="titleForm" (ngSubmit)="onSubmit()" novalidate>

  <div class="space-title">
    <div class="title">
      <h3 style="font-size: 48px">Title of your space</h3>
    </div> 
    <div class="content">
      <mat-form-field>
        <input matInput placeholder="Name your space" formControlName="title" required>
      </mat-form-field>
    </div>
    <div class="actions">
      <button mat-raised-button type="submit" class="next-button" 
              [disabled]="titleForm.invalid"> 
              Continue 
      </button>
      <div class="back-button"></div>
    </div>
  </div>
  
</form>
