<router-outlet></router-outlet>

<!-- begin::Footer -->
<footer class="grid">
	<div class="inner">
		<img src='assets/images/logo/spacenow-logo.svg' width="200px" class="logo"/>
		<div class="help-pages">
		<ul>
			<li><a routerLink="/pages/about">about</a></li>
			<li><a routerLink="/pages/news">news</a></li>
			<li><a href="#">careers</a></li>
			<li><a href="#">press</a></li>
			<li><a routerLink="/pages/help">help</a></li>
		</ul>
		</div>
		<span class="copyright">© spacenow 2017</span>
		<div class="menu">
		<ul fxLayoutAlign="space-between stretch">
			<li><a routerLink="/pages/terms">terms of service</a></li>
			<li><a routerLink="/pages/host-terms">host terms</a></li>
			<li><a routerLink="/pages/privacy">privacy policy</a></li>
			<li><a routerLink="/pages/refund-policy">cancellation policy</a></li>
			<li><a routerLink="/pages/dictionary">Dictionary</a></li>
		</ul>
		</div>
		<ul class="social-media">
		<li><a href="https://www.facebook.com/spacenowaustralia/" class="sm-facebook"></a></li>
		<li><a href="https://www.linkedin.com/company/17945312" class="sm-linkedin"></a></li>
		<li><a href="https://twitter.com/spacenow_aus" class="sm-twitter"></a></li>
		</ul>
	</div>
</footer>
<!-- end::Footer -->