<div>
  <sn-opening-day 
    [openingDay]="openingTime.mon"
    [weekday]="'MON'"
    (onOpeningDayChange)="getOpeningDay($event)">
  </sn-opening-day>
  <sn-opening-day 
    [openingDay]="openingTime.tue"
    [weekday]="'TUE'"
    (onOpeningDayChange)="getOpeningDay($event)">
  </sn-opening-day>
  <sn-opening-day 
    [openingDay]="openingTime.wed"
    [weekday]="'WED'"
    (onOpeningDayChange)="getOpeningDay($event)">
  </sn-opening-day>
  <sn-opening-day 
    [openingDay]="openingTime.thu"
    [weekday]="'THU'"
    (onOpeningDayChange)="getOpeningDay($event)">
  </sn-opening-day>
  <sn-opening-day 
    [openingDay]="openingTime.fri"
    [weekday]="'FRI'"
    (onOpeningDayChange)="getOpeningDay($event)">
  </sn-opening-day>
  <sn-opening-day 
    [openingDay]="openingTime.sat"
    [weekday]="'SAT'"
    (onOpeningDayChange)="getOpeningDay($event)">
  </sn-opening-day>
  <sn-opening-day 
    [openingDay]="openingTime.sun"
    [weekday]="'SUN'"
    (onOpeningDayChange)="getOpeningDay($event)">
  </sn-opening-day>
</div>
