<!-- Sidebar -->
<aside id="main-sidebar" class="sidebar">
    <h1>Log In</h1>
    <h3>Complete form to log in</h3>
    <mat-form-field>
      <input matInput placeholder="Email" [errorStateMatcher]="matcher">
      <!-- <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [errorStateMatcher]="matcher">
      <mat-hint>Errors appear instantly!</mat-hint>
      <!-- <mat-error *ngIf="passFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
    <mat-checkbox >Remember me</mat-checkbox>
    <button mat-button>Log in</button>
</aside>

<!-- Nav -->
<nav id="main-nav" class="grid">
  <ul>
    <li><a href="#"><img src="assets/images/logo/spacenow-logo-white.png" width="200px"></a></li>
    <li><a href="#">List your space</a></li>
    <li><a href="#">Log in</a></li>
    <li><a href="#">Sign up</a></li>
  </ul>
</nav>

<!-- Header -->
<header id="header">
  <div class="full bg"></div>
  <div class="inner">
    <h2>Find any space</h2>
    <h2>anytime</h2>
    <h2>anywhere</h2>
    <ul>
      <li>
        <mat-form-field>
          <mat-icon matPrefix>search</mat-icon>
          <input type="text" matInput placeholder="Location">
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-icon matPrefix>business</mat-icon>
          <input type="text" matInput placeholder="Category">
        </mat-form-field>
      </li>
      <li>
          <mat-form-field>
            <mat-icon matPrefix>access_time</mat-icon>
            <input type="text" matInput placeholder="Location">
          </mat-form-field>
        </li>
    </ul>
  </div>
</header>

<div class="main">



<!-- Banner -->
<section id="section-one">
  <ul>
    <li>
      <h2>Any space by the hour day or month</h2>
    </li>
    <li>
      <div class="card">
        
      </div>
    </li>
  </ul>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="inner">

    <h3>Get in touch</h3>

    <div class="copyright">
      &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
    </div>

  </div>
</footer>


<!-- <mat-sidenav-container class="admin-container">

  <mat-sidenav class="quickpanel" [opened]="quickpanelOpen" align="end" mode="over" #quickpanel>

    <gen-quickpanel></gen-quickpanel>

  </mat-sidenav>

  <mat-sidenav class="sidenav" [opened]="sidenavOpen" align="start" [mode]="sidenavMode" msIconSidenav #sidenav>

    <gen-sidenav></gen-sidenav>

  </mat-sidenav>

  <div class="content-container" fxLayout="column">
    <gen-toolbar [quickpanel]="quickpanel" [sidenav]="sidenav"></gen-toolbar>

    <div class="main-container" #scrollContainer>
      <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
     </div>
  </div>

</mat-sidenav-container> -->
