<!-- Sidebar -->
<mat-drawer-container class="main-container" fullscreen>

  <mat-drawer class="sidenav" [opened]="showSidenav$ | async" align="end" disableClose>
    <button mat-icon-button (click)="closeSidenav()" class="closeMenu">
        <mat-icon aria-label="Close sidenav icon">arrow_forward</mat-icon>
    </button>
    
    <ng-container *ngIf="sidenavComponent === 'sign-in'">
        <gen-sign-in></gen-sign-in>
    </ng-container>
    <ng-container *ngIf="sidenavComponent === 'register'">
        <gen-sign-up></gen-sign-up>
    </ng-container>
    <ng-container *ngIf="sidenavComponent === 'forgot-password'">
        <gen-forgot-password></gen-forgot-password>
    </ng-container>

    <!-- <router-outlet name="sidenav"></router-outlet> -->
    
  </mat-drawer>

  <mat-drawer-content>
  
    <!-- Nav -->
    <nav id="main-nav">
      <a routerLink="/" class="logo" [ngClass]="logo$ | async"></a>
      <span><!-- fill space --></span>
      <a routerLink="/listing/category" class="hidden-tablet-small">List your space</a>
      <div *ngIf="isSignedIn$ | async; then authenticated else guest"></div>
    </nav>

    <!-- User NOT logged in -->
    <ng-template #guest>
      <button mat-icon-button [matMenuTriggerFor]="burguerMenu" class="hidden show-tablet-small">
        <mat-icon aria-label="Menu" style="color: white">menu</mat-icon>
      </button>
      <mat-menu #burguerMenu="matMenu" yPosition="below" xPosition="before" overlapTrigger="false">
        <button mat-menu-item routerLink="/listing/category">List a space</button>
        <button mat-menu-item (click)="openSidenav(); setSidenavLogin();">Log in</button>
        <button mat-menu-item (click)="openSidenav(); setSidenavRegister();">Sign up</button>
      </mat-menu> 
      <a href="#" (click)="openSidenav(); setSidenavLogin();" class="hidden-tablet-small">Log in</a>
      <a href="#" (click)="openSidenav(); setSidenavRegister();" class="hidden-tablet-small">Sign up</a>
    </ng-template>

    <!-- User logged in -->
    <ng-template #authenticated>
      <!-- <a *ngIf="(authUser$ | async) as authUser" [routerLink]="[{ outlets: { sidenav: ['auth-menu'] } }]" routerLinkActive="active" (click)="openSidenav()"><img [src]="authUser.photoURL" class="userProfilePicture" width="50px"></a> -->
      <button *ngIf="(authUser$ | async) as authUser" mat-icon-button [matMenuTriggerFor]="menu">
        <img [src]="authUser.photoURL" class="userProfilePicture" width="50px" height="50px">
      </button>
      <mat-menu #menu="matMenu" yPosition="below" xPosition="before" overlapTrigger="false">
        <button mat-menu-item routerLink="/listing/category">List a space</button>
        <button mat-menu-item routerLink="/users/my-spaces">My spaces</button>
        <button mat-menu-item routerLink="/users/my-profile">Profile</button>
        <button mat-menu-item routerLink="/users/my-favorites">Favorites</button>
        <button mat-menu-item routerLink="/users/my-spaces">Manage Bookings</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="signOut()">Logout</button>
      </mat-menu> 
    
    
    </ng-template>

    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer class="grid">
      <div class="inner">
        <img src='assets/images/logo/spacenow-logo.svg' width="200px" class="logo"/>
        <div class="help-pages">
          <ul>
            <li><a href="#">about</a></li>
            <li><a href="#">news</a></li>
            <li><a href="#">careers</a></li>
            <li><a href="#">press</a></li>
            <li><a href="#">help</a></li>
          </ul>
        </div>
        <span class="copyright">© spacenow 2017</span>
        <div class="menu">
          <ul fxLayoutAlign="space-between stretch">
            <li><a href="#">terms of serviec</a></li>
            <li><a href="#">host terms</a></li>
            <li><a href="#">privacy policy</a></li>
            <li><a href="#">refunds policy</a></li>
            <li><a href="#">cancellation policy</a></li>
          </ul>
        </div>
        <ul class="social-media">
          <li><a href="#" class="sm-facebook"></a></li>
          <li><a href="#" class="sm-linkedin"></a></li>
          <li><a href="#" class="sm-twitter"></a></li>
        </ul>
      </div>
    </footer>
   
  </mat-drawer-content>

</mat-drawer-container>
