@import
  '~sass/abstracts/mixins';

.mat-drawer-content {

    display: grid !important;

}

.sm-facebook {
    height: 50px;
    width: 50px;
    @include sn-icon(5, 1, 50);
    @include respond-to('phone') {
        @include sn-icon(5, 1, 35);
    }
}

.sm-linkedin {
    @include sn-icon(6, 1, 50);
    @include respond-to('phone') {
        @include sn-icon(6, 1, 35);
    }
}

.sm-twitter {
    @include sn-icon(1, 1, 50);
    @include respond-to('phone') {
        @include sn-icon(1, 1, 35);
    }
}