<!-- Header -->
<header id="header" class="grid">
    <div class="inner">
      <h2>Find any space<br> anytime<br> anywhere</h2>
      <form class="search-form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="si-icon-small si-search"></div>
        <mat-form-field>
          <input class="txt-location" type="text" sn-google-address matInput placeholder="location" (getAddress)="selectedAddress($event); onSubmit()">
        </mat-form-field>
      </form>
    </div>
  </header>
  
  <!-- SECTIONS -->
  <div id="sections">
  
    <!-- SECTION ONE -->
    <section id="section-one">
      <div class="title right">
          <h2>Any space<br>
            by the hour<br>
            day or month
          </h2>
        <div class="si-icon-small si-right"></div>
      </div>
    
      <gen-slider [component]="sliderComponent" [items]="categories$ | async" perPage="1" style="--perPage: 1;" [arrowsTopPos]="-200"></gen-slider>
  
    </section>
  
    <!-- SECTION TWO -->
    <section id="section-two">
      <div class="title">
        <div class="si-icon-small si-left"></div>
        <h2>Latest <br>spaces<br><a href="search?name=&radius=20&latitude=&longitude=" class="view-all">view all</a></h2>
      </div>
      <gen-slider [orientation]="1" [component]="sliderFeaturedComponent" [items]="listingsShortDetailAustralia$ | async" perPage="1" style="--perPage: 1;"></gen-slider>
  
    </section>
  
    <!-- SECTION THREE -->
    <section id="section-three">
      <div class="img" >
          <img id="airplane" src="https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Fhome%2Fgeorge-plane.png?alt=media&token=c519b037-69c2-4adc-9dd0-3a05f11d7fe4" alt="">
      </div>
      <div class="video-description">
        <h2>How Spacenow<br>Works</h2>
        <div class="si-icon si-play" (click)="openVideo()"></div>
        <caption>Watch Video</caption>
      </div>
    </section>
  
    <!-- SECTION FOUR -->
    <section id="section-four" class="grid">
      <div>
        <h2>About Spacenow</h2>
        <p>Spacenow are the global pionners of the 'Activated Space Economy'. We active a near limitless range of under-utilised spaces by connecting hosts with guests all around the world. By removing the middleman, individuals gain the opportunity to access unique flexible rentals; and hosts can start monetising their spare space. Unlike other share-spaces platforms, Spacenow redefines 'commercial space' by expanding the constraints of the traditional definition, to make available a wide variety of spaces to almost anyone around the world. Join the sharing economy today and start sharing with Spacenow.</p>
        <div class="perc">
          <mat-card>
            <mat-card-content>
              <div class="si-icon si-locate"></div>
              <h4>Locate</h4>
              <p>Search for space by location</p>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content>
                <div class="si-icon si-refine"></div>
              <h4>Refine</h4>
              <p>Select your category, price and other specifications</p>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content>
                <div class="si-icon si-book"></div>
              <h4>Book</h4>
              <p>Book now to move in</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </section> 
  
    <!-- SECTION FIVE -->
    <section id="section-five">
        <gen-slider [component]="sliderTestimonialComponent" [itemSize]="gallerySize" [items]="testimonials" perPage="1" style="--perPage: 1;"></gen-slider>
    </section>
  
    <!-- SECTION SIX -->
    <section id="section-six">
      <div class="title right">
        <h2>Spaces in<br>UAE<br><a href="http://localhost:4200/search?name=Dubai%2520-%2520United%2520Arab%2520Emirates&radius=10&latitude=25.2048493&longitude=55.270782800000006" class="view-all">view all</a></h2>
        <div class="si-icon-small si-right"></div>
      </div>
  
      <gen-slider [component]="sliderFeaturedComponent" [items]="listingsShortDetailUnitedArabEmirates$ | async" perPage="1" style="--perPage: 1;"></gen-slider>
    
    </section>
  
    <!-- SECTION SEVEN -->
    <section id="section-seven">
      <div class="title left">
        <div class="si-icon-small si-left"></div>
        <h2>Spaces in<br>New Zealand<br><a href="search?name=Auckland%252C%2520New%2520Zealand&radius=20&latitude=-36.8484597&longitude=174.76333150000005" class="view-all">view all</a></h2>
      </div>
      
  
      <gen-slider [orientation]="1" [component]="sliderFeaturedComponent" [items]="listingsShortDetailNewZealand$ | async" perPage="1" style="--perPage: 1;"></gen-slider>
  
    </section>
  
  </div>