@import '~@angular/material/theming';

$button-padding-tb: 10px;
$button-padding-lr: 4 * $button-padding-tb;
$button-radius: 2 * $button-padding-lr;



@mixin mat-button-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .mat-mini-fab {

        color: mat-color($primary, 50, 1) !important;
        background: mat-color($primary, default-contrast, 1);
        border: 1px solid mat-color($primary, default-contrast, 1) !important;

        &:hover {
            background: transparent;
            color: mat-color($primary, 50, 1) !important;
        }


        &.primary {
            color: mat-color($primary, default-contrast, 1) !important;
            background: mat-color($primary, 50, 1);
            border: 1px solid mat-color($primary, 50, 1) !important;

            &:hover {
                background: transparent;
                color: mat-color($primary, 50, 1) !important;
            }

        }

    }

    .mat-raised-button, .mat-fab {
        
        border-radius: $button-radius !important;
        padding: $button-padding-tb $button-padding-lr !important;
        text-transform: uppercase;

        color: mat-color($primary, 50, 1) !important;
        background: mat-color($primary, default-contrast, 1);
        border: 1px solid mat-color($primary, default-contrast, 1) !important;

        &:hover {
            background: transparent;
        }


        &.primary {
            color: mat-color($primary, default-contrast, 1) !important;
            background: mat-color($primary, 50, 1);
            border: 1px solid mat-color($primary, 50, 1) !important;

            &:hover {
                background: transparent;
            }

        }

    }

}
