
<div class="grid">
  <div class="wrapper">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="40%">
        <h1>News</h1>
      </div>
      <div fxFlex="50%" fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="5%"><i class="search-50"></i></div>
        <form fxFlex="90%">
          <mat-form-field style="width: 100%">
              <input type="text" matInput placeholder="Search older posts by title, date...">
          </mat-form-field>
        </form>
      </div>
    </div>
    <div>
    
          
    </div>
    
  </div>
</div>