<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-form-field class="from-date">
    <input matInput [matDatepicker]="fromDate" [matDatepickerFilter]="exceptions()" [min]="minDate" placeholder="Date" formControlName="date" required>
    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
    <mat-datepicker #fromDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="form-hour">
    <mat-select placeholder="From hour" formControlName="fromHour" required>
      <mat-option *ngFor="let hour of fromHourList" [value]="hour">{{ transformHour(hour) }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="to-hour">
    <mat-select placeholder="To hour"formControlName="toHour" required>
      <mat-option *ngFor="let hour of toHourList" [value]="hour">{{ transformHour(hour) }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="num-guests">
    <input matInput type="number" min="0" placeholder="Guests" formControlName="numGuests" required>
  </mat-form-field>
  <button mat-raised-button [disabled]="form.invalid || form.pristine">{{ space.availability.bookingType == 'instantly' ? 'Book' : 'Request Booking' }}</button>
</form>
