
footer {

    --margin: 200px;

    margin-top: var(--margin);
    border-top: 1px solid $color__mischka;
    text-transform: uppercase;

    .inner {

        align-content: space-evenly;
        display: grid;
        grid-column: 2 / span 12;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: calc(var(--margin) / 4);
        grid-column-gap: calc(var(--margin) / 8);
        grid-template-areas: 
        "logo . help-pages"
        "menu menu social-media";
        margin: var(--margin) 0;

        img.logo {
            grid-area: logo;
        }

        div.help-pages {
            grid-area: help-pages;
            justify-content: end;
        

            ul li {
                display: inline-block;

                a {
                    font-size: 18px;
                }

            }

        }

        div.menu {
            grid-area: menu;

            ul li {
                display: inline-block;

                a {
                    font-size: 14px;
                }
            }

        }

        ul.social-media {
            grid-area: social-media;
            justify-self: end;

            li {
                display: inline-block;
                margin-left: var(--gap);
            }

        }

    }

}