header {

    border-bottom: 4px solid $color__gable_green;
    height: 90vh;
    min-height: 700px;
    align-items: center;

    background: $color__white url('https://firebasestorage.googleapis.com/v0/b/spacenow-bca9c.appspot.com/o/images%2Fhome%2Fhero-image.png?alt=media&token=c65f28b7-b689-441c-9bc9-35edd453f5d1');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 90vh;
    //     background: linear-gradient($color__gable_green, transparent);
    //     z-index: 1;
    // }

    .inner {
        grid-column: 2 / span 12;
        z-index: 2;
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px;

        @include respond-to('phone-wide') {
            grid-column: 2 / 34;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 5px;
        }          


        h2 {

            grid-column: 1 / 2;
            color: $color__white;

            @include respond-to('phone-wide') {
                grid-column: 1 / 2;
                font-size: 40px;
                line-height: 40px;
            }

        }

        .search-form {
            display: flex;
            grid-column: 1 / span 2;
            @include respond-to('phone-wide') {
                grid-column: 1 / 2;
            }

            .sn-icon {
                color: #FFF;
                @include sn-icon(1, 1, 50);
            }
        }

        .mat-input-container {
            
            width: 100%;

            .mat-input-prefix {

                margin-right: 10px;

                .mat-icon {
                    color: #FFF;
                    font-size: 40px;
                }

            }

            .mat-input-infix {

                border-bottom: 4px solid #FFF;

                .mat-input-placeholder {
                    color: #FFF;
                    font-size: 25px;
                    top: 14px;
                }

                input {
                    color: #FFF;
                    font-size: 25px;
                }

            }

        }

    }

}