@import
  '~sass/abstracts/mixins';

.sidenav {

    --sidenav: 40%;
    --sidenav-r: -40%;

    --color: $color__pastel_green;

    position: fixed; /* or choose `absolute` depending on desired behavior*/
    top: 0;
    bottom: 0;
    width: var(--sidenav);
    right: var(--sidenav-r);
    transition: transform .3s ease-in-out;

    @include respond-to('tablet') {
        width: 80%;
        right: -80%;
    }

    @include respond-to('phone-wide') {
        width: 100%;
        right: -100%;
    }


    .closeMenu {

        background-color: transparent;
        height: 60px;
        margin: 10px 0 0 10px;
        width: 60px;

        .mat-icon {

            color: var(--color);
            font-size: 40px;
            width: auto;

        }

    }

}