<div [formGroup]="parentForm">
    <div formArrayName="addresses">
        <div *ngFor="let address of addresses.controls; let i=index" [formGroupName]="i" class="frmAddress">
            <!-- The repeated address template -->
            <h4>Address {{i + 1}} 
                <button mat-icon-button class="primary" type="button" *ngIf="multi" (click)="removeAddress(i)" style="float: right">
                    <mat-icon aria-label="Remove address">delete</mat-icon>
                </button>
            </h4>
            <mat-form-field>
                <input matInput placeholder="Unit" type="text" name="unit" formControlName="unit">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Street Number" type="text" name="streetNumber" formControlName="streetNumber">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Street" type="text" name="street" formControlName="street">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Country Name" type="text" name="countryName" formControlName="countryName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="City" type="text" name="city" formControlName="city">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="State" type="text" name="state" formControlName="state">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Postal Code" type="text" name="postalCode" formControlName="postalCode">
            </mat-form-field>
            <!-- End of the repeated address template -->
        </div>
        <button mat-icon-button class="primary" type="button" *ngIf="multi" (click)="addAddress()">
            <mat-icon aria-label="Add new address">add</mat-icon>
            Add new address
        </button>
    </div>
</div>