@import
  '~sass/abstracts/mixins';

section#checkout {
  --gridGap: 40px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 65% calc(35% - var(--gridGap));
  grid-gap: var(--gridGap);

  margin: 24px auto;
  max-width: 1200px;

  mat-tab-header {
    border-bottom: 1px solid transparent;
  }

  .mat-tab-body-content {
    display: flex;
    flex-direction: column;
    padding: 32px 0;

    section {
      padding: 16px 0;

      strong {
        font-weight: 600;
      }
    }

    h4 {
      margin-top: 28px;
    }

    ol {
      counter-reset: c;

      > li {
        list-style-position: inside;
        text-indent: -1em;
        margin: 1em 2em;

        &:before {
          content: counter(c, decimal);
          counter-increment: c;
          padding-right: 0.2em;
        }
      }
    }

  }

  .confirm-user {
    mat-form-field {
      width: 100%;

      textarea {
        resize: none;
      }
    }
  }

  .booking-cart {
    padding: 28px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(48, 48, 48, 0.2);

    mat-expansion-panel {
      --panelHeaderHeight: 36px;

      .mat-expansion-panel-header {
        font-size: 14px;
        height: var(--panelHeaderHeight) !important;

        > .mat-content {
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-right: 8px;
          overflow: hidden;
        }
      }

      .mat-expansion-panel-content {
        font-size: 12px;

        > .mat-expansion-panel-body {
          display: flex;
          flex-direction: column;
          padding: 16px 24px;

          h4 {
            margin-bottom: 8px;
          }

          h5 {
            margin: 8px 0;
          }

          ul {
            padding-left: 16px;

            li:before {
              content: '\2022';
              font-weight: 800;
              margin-right: 4px;
            }
          }
        }
      }

      .mat-action-row {
        padding: 8px 8px 8px 24px;

        > button {
          font-size: 14px;
          font-weight: 400;
        }
      }

      &.mat-expanded {
        --panelHeaderHeight: 52px;
      }
    }

    > .space-breakdown > span {
      text-align: center;
      display: block;
    }

    .clear-cart {
      font-weight: 400;
      margin-top: 16px;
      width: 100%;
    }

    > .price-breakdown {
      margin-top: 16px;
      width: 100%;
      font-size: 14px;

      tr {
        --tdPadding: 4px 4px;
        td {
          padding: var(--tdPadding);

          &:nth-child(2) {
            text-align: right;
          }
        }

        &:not(:last-child) {
          border-bottom: 1px solid rgba(48, 48, 48, 0.2);
        }

        &:last-child {
          --tdPadding: 8px 4px;
          font-size: 1.5em;
          font-weight: 500;
        }
      }
    }
  }

}

@include respond-to('md') {

  section#checkout {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    margin: 24px 40px;

    aside {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }

    div#main {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

  }

}

@include respond-to('sm') {

  section#checkout {
    margin: 24px 20px;
  }

}
