<mat-card>
    <mat-card-header>
        <span class="stamp" *ngIf="data.isNew">new</span>
        <div class="nav-slider">
            <button mat-icon-button>
                <i class="material-icons">lens</i>
            </button>
            <button mat-icon-button>
                <i class="material-icons">panorama_fish_eye</i>
            </button>
            <button mat-icon-button>
                <i class="material-icons">panorama_fish_eye</i>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
      <i class="material-icons">favorite_border</i>
      <h4>sharespace</h4>
      <h2>Open share space desk</h2>
      <h4>Khalidiya</h4>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="primary">coworking</button>
    </mat-card-actions>
</mat-card>
<div class="ratings">
    <i class="material-icons">star_rate</i>
    <i class="material-icons">star_rate</i>
    <i class="material-icons">star_rate</i>
    <i class="material-icons">star_rate</i>
    <i class="material-icons">star_rate</i>
</div>