<section id="why-spacenow">
  <div class="container">
    <h2>Why Spacenow?</h2>
    <div class="content">
      <blockquote>
        Spacenow.com is Australia's <strong>largest peer-to-peer marketplace for commercial space</strong>,
        linking hosts (people with space) with people who need it.
      </blockquote>
      <div class="video-preview">
        <div class="preview-shroud">
          <img src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&h=350">
        </div>
        <span class="si-play si-white"></span>
      </div>
    </div>
  </div>
</section>
<section id="how-it-works">
  <div class="container">
    <h2>How Spacenow works</h2>
    <div class="content">
      <div class="visualization grid-left"></div>
      <div class="text grid-right">
        <h3>Hosts can list their spaces for free</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut abore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercutation ullamco laboris nisi ut
          alliquip ex ea commodo consqeuat.
        </p>
      </div>
      <div class="text grid-left">
        <h3>Guests explore all available spaces</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut abore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercutation ullamco laboris nisi ut
          alliquip ex ea commodo consqeuat.
        </p>
      </div>
      <div class="visualization grid-right"></div>
      <div class="visualization grid-left"></div>
      <div class="text grid-right">
        <h3>Guests can book instantly</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut abore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercutation ullamco laboris nisi ut
          alliquip ex ea commodo consqeuat.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="know-more">
  <div class="container">
    <h2>Know more about Spacenow</h2>
    <div class="content">
      <div class="info-video">
        <div class="video-preview">
          <div class="preview-shroud">
            <img src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&h=350">
          </div>
          <span class="si-play si-white"></span>
        </div>
        <h4>Why should I use Spacenow?</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut abore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercutation ullamco laboris nisi ut
          alliquip ex ea commodo consqeuat.
        </p>
        <span class="video-details">2018 Feb 08 - 25,000 views</span>
      </div>
      <div class="info-video">
        <div class="video-preview">
          <div class="preview-shroud">
            <img src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&h=350">
          </div>
          <span class="si-play si-white"></span>
        </div>
        <h4>Why should I use Spacenow?</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut abore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercutation ullamco laboris nisi ut
          alliquip ex ea commodo consqeuat.
        </p>
        <span class="video-details">2018 Feb 08 - 25,000 views</span>
      </div>
      <div class="info-video">
        <div class="video-preview">
          <div class="preview-shroud">
            <img src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&h=350">
          </div>
          <span class="si-play si-white"></span>
        </div>
        <h4>Why should I use Spacenow?</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut abore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercutation ullamco laboris nisi ut
          alliquip ex ea commodo consqeuat.
        </p>
        <span class="video-details">2018 Feb 08 - 25,000 views</span>
      </div>
      <div class="info-video">
        <div class="video-preview">
          <div class="preview-shroud">
            <img src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&h=350">
          </div>
          <span class="si-play si-white"></span>
        </div>
        <h4>Why should I use Spacenow?</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut abore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercutation ullamco laboris nisi ut
          alliquip ex ea commodo consqeuat.
        </p>
        <span class="video-details">2018 Feb 08 - 25,000 views</span>
      </div>
    </div>
  </div>
</section>
