<h3>Search</h3>
<div class="search-container">
  <form class="search-form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <mat-form-field>
      <input matInput sn-google-address type="text" placeholder="Location" (getAddress)="selectedAddress($event)" formControlName="name">
    </mat-form-field>
    <div class="radius-slider">
      Search Radius
      <mat-slider min="1" max="50" formControlName="radius"></mat-slider>
      {{ form.get('radius').value }} km
    </div>
    <button mat-raised-button type="submit">Filter Spaces</button>
  </form>
  <ng-container *ngIf="(isLoading$ | async); else doneLoading">
    <mat-spinner></mat-spinner>
  </ng-container>
  <ng-template #doneLoading>
    <div class="search-results">
      <sn-space-list-item
        *ngFor="let space of results$ | async"
        [space]="space"
        [showOptions]="false"
        (mouseenter)="toggleHover(space, true)"
        (mouseleave)="toggleHover(space, false)">
      </sn-space-list-item>
  </div>
  </ng-template>
  <agm-map
    [zoom]="zoom"
    [latitude]="latitude"
    [longitude]="longitude"
    [streetViewControl]="false">
  </agm-map>
</div>
