@import
    '~sass/abstracts/mixins';

:host {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

	grid-row-gap: 100px;
}

.si-locate {
    height: 50px;
    width: 50px;
    @include sn-icon(5, 1, 50);
    @include respond-to('phone-wide') {
        @include sn-icon(5, 1, 35);
    }
}