<!-- Header -->
<header id="header" class="grid">
  <div class="inner">
    <h2>Find any space<br> anytime<br> anywhere</h2>
    <form class="search-form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="sn-icon search"></div>
      <mat-form-field>
        <input type="text" sn-google-address matInput placeholder="location" (getAddress)="selectedAddress($event)">
      </mat-form-field>
    </form>
  </div>
</header>

<!-- SECTIONS -->
<div id="sections">

  <!-- SECTION ONE -->
  <section id="section-one">
    
    <h2 class="left">Any space 
    by the hour
    day or month</h2>

    <gen-slider [component]="sliderComponent" [items]="categories$ | async" perPage="1" style="--perPage: 1;"></gen-slider>

  </section>

  <!-- SECTION TWO -->
  <section id="section-two">
    
    <h2 class="right">Latest spaces</h2>

    <gen-slider [component]="sliderFeaturedComponent" [items]="listingsShortDetailAustralia$ | async" perPage="1" style="--perPage: 1;"></gen-slider>

  </section>

  <!-- SECTION THREE -->
  <!-- <section id="section-three">
    <div>
        <iframe src="https://www.youtube.com/embed/Nyw7ytSKbus?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="video"></iframe>
    </div>
    <div>
      <h3>our story</h3>
      <h2>Let us help you 
      find the right
      space to grow
      your business</h2>
      <p>Arash
      CEO of spacenow</p>
    </div>
  </section> -->

  <!-- SECTION FOUR -->
  <!-- <section id="section-four" class="grid">
    <div>
      <h2>Your space is safe and secured</h2>
      <p>We are, and have been for some time, rooted very firmly in the moment, just as John Muir must have been in the late 1800s when he spent his first-ever summer in the Sierra. Muir was born and grew up in East Lothian, Scotland, where he developed a fascination with the surrounding countryside and the nearby coastli</p>
      <div class="perc">
        <mat-card>
            <mat-card-content>
              <mat-progress-spinner
                  class="spinner-perc"
                  color="primary"
                  mode="determinate"
                  value="25">
              </mat-progress-spinner>
              <h4>25% more income</h4>
              <p>We are, and have been for some time, rooted very firmly in the moment, just as John Muir must have been in the late 1800s when</p>
            </mat-card-content>
          </mat-card>
          <mat-card>
              <mat-card-content>
                <mat-progress-spinner
                    class="spinner-perc"
                    color="primary"
                    mode="determinate"
                    value="25">
                </mat-progress-spinner>
                  <h4>25% more income</h4>
                <p>We are, and have been for some time, rooted very firmly in the moment, just as John Muir must have been in the late 1800s when</p>
              </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                  <mat-progress-spinner
                      class="spinner-perc"
                      color="primary"
                      mode="determinate"
                      value="25">
                  </mat-progress-spinner>
                  <h4>25% more income</h4>
                  <p>We are, and have been for some time, rooted very firmly in the moment, just as John Muir must have been in the late 1800s when</p>
                </mat-card-content>
              </mat-card>
      </div>
    </div>
  </section>  -->

  <!-- SECTION SIX -->
  <section id="section-six">
    
    <h2 class="left">Spaces in United Arab Emirates</h2>

    <gen-slider [component]="sliderFeaturedComponent" [items]="listingsShortDetailUnitedArabEmirates$ | async" perPage="1" style="--perPage: 1;"></gen-slider>
  
  </section>

  <!-- SECTION SEVEN -->
  <section id="section-seven">
    
    <h2 class="right">Spaces in New Zealand</h2>

    <gen-slider [component]="sliderFeaturedComponent" [items]="listingsShortDetailNewZealand$ | async" perPage="1" style="--perPage: 1;"></gen-slider>

  </section>

</div>