@import
    '~sass/abstracts/mixins';
:root {
    --gap: 30px;
}

:host {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    grid-row-gap: 100px;
    
    .title {
        display: flex;
        flex-flow: row;
        padding: 0 var(--gap);

        &.right {
            text-align: right;
        }

        &.left {
            text-align: left;
        }

    }

}

.si-icon {
    height: 200px;
    width: 200px;
}

.si-icon-small {
    height: 50px;
    width: 50px;
}

.si-right {
    @include sn-icon(10, 4, 50);
    @include respond-to('phone-wide') {
        @include sn-icon(10, 4, 35);
    }
}

.si-left {
    @include sn-icon(9, 4, 50);
    @include respond-to('phone-wide') {
        @include sn-icon(9, 4, 35);
    }
}

.si-search {
    @include sn-icon(14, 4, 50);
    @include respond-to('phone-wide') {
        @include sn-icon(14, 4, 35);
    }
    margin-top: 12px;
    margin-right: 5px;
}

.si-locate {
    @include sn-icon(5, 4, 200);
    @include respond-to('phone-wide') {
        @include sn-icon(5, 4, 35);
    }
}

.si-refine {
    @include sn-icon(6, 4, 200);
    @include respond-to('phone-wide') {
        @include sn-icon(6, 4, 35);
    }
}

.si-book {
    @include sn-icon(7, 4, 200);
    @include respond-to('phone-wide') {
        @include sn-icon(7, 4, 35);
    }
}