// GENERAL GRID CLASSES FOR CHILD COMPONENTS
.title {
  margin: 40px 0;
  grid-area: title;
}

.content {
  grid-area: content;
}

.actions {
  margin: 80px 0;
  grid-area: actions;
}

.next-button {
  grid-area: next-button;
}
// END GENERAL GRID CLASSES FOR CHILD COMPONENTS

/* GRID CSS TITLE */
.category {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: 
    ". title ."
    ". content ."
    ". actions .";
  align-items: space-between;
}

.category .content .items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.category .actions {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-template-rows: auto;
  grid-template-areas: 
      "next-button .";
}

// Responsive classes
@media screen and (max-width:1024px) {
  
    .category {
      grid-template-columns: 1fr 10fr 1fr;
    }
      
  }
  
@media screen and (max-width:599px) {

  .category {
    grid-template-columns: 0fr 12fr 0fr;
  }

  .category .content .items {
    grid-template-columns: 1fr;
  }

  .category .actions {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "next-button";
  }

  .next-button {
    grid-area: next-button;
  }
  
}
/* END GRID CSS TITLE */

#select-one {
  margin-bottom: 20px;
}