// GRID AREAS 
.title {
  margin: 40px 0;
  grid-area: title;
}

.content {
  grid-area: content;
}

.actions {
  margin: 80px 0;
  grid-area: actions;
}

.next-button { grid-area: next-button; }
.back-button { grid-area: back-button; }
.currency { grid-area: currency; }
.taxCountry { grid-area: taxCountry; }
.info-box { grid-area: info-box; }

.unit {
  width: 90%;
  grid-area: unit;
}

.child {
  margin: 40px 0 40px 0;
  grid-area: child;
}

.taxName {
  width: 90%;
  grid-area: taxName;
}

.taxValue {
  margin: 25px 0px 0px 25px;
  grid-area: taxValue;
}

/* GRID CSS TITLE */
.price {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
    ". title ."
    ". content ."
    ". actions .";
}

.price .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "unit currency . ."
    "child child . ."
    "taxName taxCountry taxValue ."
    "info-box info-box . .";
}

.price .actions {
  display: grid;
  grid-template-columns: 2fr 4fr 6fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "back-button next-button .";
}

@media screen and (max-width:1024px) {

  .price {
    grid-template-columns: 1fr 10fr 1fr;
  }

  .unit {
    padding-right: 0;
  }

}

@media screen and (max-width:599px) {

  .price {
    grid-template-columns: 0fr 12fr 0fr;
  }

  .price .content {
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "unit unit"
      "currency currency"
      "child child"
      "taxName taxName"
      "taxCountry taxValue"
      "info-box info-box";
  }

  .price .actions {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "next-button"
      "back-button";
  }

  .next-button { grid-area: next-button; }
  .back-button {  grid-area: back-button; }
  
  .taxName { width: 100%; }
  .currency { grid-area: currency; }
  .info-box { grid-area: info-box; }
  .taxCountry { grid-area: taxCountry; }
  .child { grid-area: child; }
  
  .unit {  
    width: 100%;
    grid-area: unit; 
  }

  .taxName {
    width: 100%;
    grid-area: taxName;
  }
  
  .taxValue {
    margin: 25px 0px 0px 25px;
    grid-area: taxValue;
  }
  
}
/* END GRID CSS TITLE */

.hide {
  display: none !important;
}

#help-box {
  background-color: rgba(128, 128, 128, 0.4); 
  border-radius: 5px; 
  padding: 6px 10px;
  margin-bottom: 40px
}

#help-icon {
  background-color: white; 
  border-radius: 3px; 
  color: rgba(128, 128, 128, 0.4);
  cursor: pointer;
  width: 17px;
  height: 17px;
  font-size: 17px;
  margin-left: 20px;
}

#help-font {
  font-size: 14px;
  color: white;
}