<div fxLayout="column" fxLayoutAlign="center center" fxFill>

  <form #form="ngForm" (ngSubmit)="onSignupSubmit()" [formGroup]="signupForm" fxLayout="column" class="signupForm">
    <h1>Sign up</h1>
    <h3>Complete for to log in</h3>
    <mat-form-field>
      <input matInput placeholder="First Name" type="text" name="firstName" required formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" type="text" name="lastName" required formControlName="lastName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="E-Mail" type="email" name="email" required formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" name="password" required formControlName="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password (Confirm)" type="password" name="password-confirm" required formControlName="confirmPassword">
    </mat-form-field>

    <mat-checkbox class="remember-me">I accept the <a href="#">terms and conditions.</a></mat-checkbox>

  
    <button mat-raised-button [disabled]="!signupForm.valid" class="primary">Sign up</button>
      
    <p class="note">Already have an account?<br/> <a [routerLink]="['../', { outlets: { sidenav: ['sign-in'] } }]">Sign in here</a></p>

  </form>

</div>
