<div fxLayout="column" fxLayoutAlign="center center" fxFill>

  <form #form="ngForm" (ngSubmit)="onSignupSubmit()" [formGroup]="signupForm" fxLayout="column" class="signupForm">
    <h1>Sign up</h1>
    <h3>Complete for to log in</h3>
    <mat-form-field>
      <input matInput placeholder="E-Mail" type="email" name="username" required formControlName="username">
      <mat-error *ngIf="signupForm.controls.username.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <span class="error" *ngIf="error$ | async as error">{{error.message}}</span>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" name="password" required formControlName="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password (Confirm)" type="password" name="password-confirm" required formControlName="confirmPassword">
    </mat-form-field>

    <mat-checkbox class="remember-me">I accept the <a href="#">terms and conditions.</a></mat-checkbox>

  
    <button mat-raised-button [disabled]="!signupForm.valid" class="primary">Sign up</button>
      
    <p class="note">Already have an account?<br/> <a href="#" (click)="setSidenavLogin();">Sign in here</a></p>

  </form>

  <div class="btn-container">
    <button mat-raised-button class="secondary" (click)="googleLogin()">
      Google
    </button>
    <button mat-raised-button class="secondary" (click)="facebookLogin()">
      Facebook
    </button>
    <!-- <button mat-raised-button class="secondary" (click)="linkedinLogin()">
      Linkedin
    </button> -->
  </div>

</div>
